<!DOCTYPE html>
<html lang="en" ng-app="sails" ng-controller="AreaShowCtrl">
	<head>
	
		<!-- Head meta, css or library include -->
		<% include ../layout/head-include.html %>
		
		<!-- Title -->
		<title>{{area.name}}</title>
	
	</head>

<body>

    <!-- Fixed Top Navigation Bar -->
	<% include ../layout/top-navbar.html %>

	<div class="container">

		<!-- Navigator bar to display current store of floor of specific area -->
		<ol class="breadcrumb">
		  <li><a href="/user">My Areas</a></li>
		  <li class="active ng-hide" ng-hide="loadingArea">
			<span class="glyphicon glyphicon-globe"></span>				
			<span ng-bind="area.name"></span>
		  </li>
		</ol>

		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron">				

			<!-- Area basic info display and editor -->
			<div id="building-index-basic-display" class="row display-block">
				
				<!-- Loading -->
				<div class="loading" ng-show="loadingArea">&nbsp;<img src="/img/loading.gif" alt="loading.."/></div>	

				<!-- Edit trigger button -->
				<span class="glyphicon glyphicon-edit edit-button"></span>

				<!-- Display block -->
				<div class="col-xs-12 col-sm-3 col-md-2 ng-hide" style="text-align:center;padding:15px 5px;" ng-hide="loadingArea">
					<img ng-src="{{area.icon}}" alt="Area Icon" class="icon"/>
					<div ng-hide="loadingArea">
						<strong style="font-size:10px">ID: {{area._id}}</strong>
					</div>
					<div ng-hide="loadingArea">
						<span class="title">Name:</span>
						<span ng-bind="area.name"></span>
					</div>
					<div ng-hide="loadingArea">
						<span class="title">Public</span>
						<span ng-bind="area.pub"></span>											
					</div>

				</div>
				<div class="col-xs-12 col-sm-8 col-md-9 ng-hide" ng-hide="loadingArea">
					<span class="title">Description</span>
					<p ng-bind="area.desc" style="padding:10px;"></p>
				</div>
				<br><br>
				<hr/>		
				<!-- Package all floor map zips to building map zip -->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="loadingArea" style="display:none;">
					<span class="title">Last package time</span>
					<span ng-bind="building.mapzipUpdateTime"></span>
					<button class="btn btn-md btn-primary"  ng-click="packageMapzip($event)"
						data-loading-text="Packaging">Package</button>								
				</div>				
							
			</div>
			<hr/>

			<!-- Area Index Basic Information Edit Block -->
			<div class="row edit-block">

				<!-- Cancel edit button -->
				<button type="button" class="close close-button" ng-click="cancelUpdateArea()">x</button>

				<!-- Form -->
				<div id="update-form">

					<!-- Input Fields -->
					<input type="hidden" name="id" value="{{area._id}}">
					<div class="form-group">
						<label for="name">Name</label>
						<input id="update-form-name" class="form-control" placeholder="Area Name" name="name" ng-model="area.name"  maxlength="30">
					</div>
					<div class="form-group">
						<label for="desc">Description</label>
						<textarea id="update-form-desc" class="form-control" placeholder="Area Description" name="desc" ng-model="area.desc" maxlength="250"></textarea>
					</div>
					
					<% if(user && (user.role == roles.ADMIN || user.role == roles.DEVELOPER) ){ %>
						<div class="form-group">
							<label for="pub">Public</label>
							<input type="checkbox" name="pub" ng-model="area.pub"><br/>
						</div>
					<% } %>		

					<!-- error msg -->
					<div class="alert alert-danger error-msg">
					  	<span class="label label-danger">Error</span>
					  	<span class="errorText"></span>
					</div>
					<button class="btn btn-md btn-primary" data-loading-text="Updating" ng-click="updateArea($event)">Update</button>

				</div>
				<hr/>

				<!-- Icons upload area -->
				<div>
					<form id="image-form" name="form" action="/area/uploadImage" method="POST" enctype="multipart/form-data">
						<input type="hidden" name="_id" value="{{area._id}}" >
						<label for="image">Upload icon image:</label>
						<img ng-src="{{area.icon}}" alt="Area Icon" class="icon"/>
						<div class="alert alert-danger error-msg">
							<span class="label label-danger">Error</span> <span class="errorText"></span>
						</div>
						<input type="file" class="form-control upload-file" placeholder="Area Icon" name="image">
					</form>
					<button class="btn btn-md btn-primary" style="display:none;" ng-click="uploadAreaImage($event, selectedArea)">Upload</button>
				</div>

			</div>
	
			<div class="row display-block">
				
				<!-- Nav tab for pois and buildings -->
				<ul class="nav nav-tabs poisAndBuildingsTab" role="tablist">
				  <li class="active"><a href="#poi-list" role="tab" data-toggle="tab">POIs</a></li>
				  <li><a href="#building-list" role="tab" data-toggle="tab">Buildings</a></li>
				</ul>
				<div class="tab-content">
					<!-- Pois list block -->
					<% include ../poi/poi-list.html %>

					<!-- Building Block -->
					<% include ../building/building-list.html %>				
				</div>	

			</div>
			

		</div>

	</div>
	<!-- /container -->
	
	<!-- Body library include -->
	<% include ../layout/body-include.html	%>
		
    <!-- Controller -->
    <script src="/js/controller/areaContrl.js"></script>
    
  </body>
</html>
