<!-- Floors list include in building/index.html -->
<div class="row display-block" ng-controller="FloorListCtrl">
	
	<!-- Loading -->
	<div class="loading" ng-show="loadingFloor">&nbsp;<img src="/img/loading.gif" alt="loading.."/></div>	
	
	<!-- Delete Confirm Dialog -->
	<% include ../layout/delete-confirm-dialog.html %>

	<!-- Loading Dialog -->
	<% include ../layout/loading-dialog.html %>

	<!-- Add floor, add basement and add store buttons -->
	<a data-toggle="modal" class="btn btn-default" href="#" ng-click="addFloor()" ng-hide="loadingFloor" style="display:none;">
		<span  class="glyphicon glyphicon-plus" ></span> Add Floor
	</a>
	<a data-toggle="modal" class="btn btn-default" href="#" ng-click="addBasement()" ng-hide="loadingFloor" style="display:none;">
		<span  class="glyphicon glyphicon-plus" ></span> Add Basement
	</a>
	<!-- List floors block -->
	<div id="index-floor" class="panel-collapse collapse in" ng-hide="loadingFloor" style="display:none;">
		<div class="panel-body">
			<div class="panel-group" id="index-upfloor-accordion" ng-repeat="floor in floorUp">

				<div class="panel panel-default" ng-mouseenter="showRemoveButton($event)" ng-mouseleave="hideRemoveButton($event)">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#index-upfloor-accordion"
								href="#{{floor._id}}" ng-bind="floor.layer"></a><span> F</span>
							
							<!-- Show link -->
							<span><a href="/floor/show/{{floor._id}}">details</a></span>
							
							<!-- Delete Icon -->
							<span class="glyphicon glyphicon-remove remove-button-list" ng-click="deleteDialogSetup()"></span>
															
						</h4>
					</div>
				</div>
				
				<!-- Stores Block -->
				<div id="{{floor._id}}" class="panel-collapse collapse floor">
					<% include ../store/store-list.html	%>
				</div>

			</div>
		</div>
	</div>

	<!-- List basements block -->
	<div id="index-layer" class="panel-collapse collapse in" ng-hide="loadingFloor" style="display:none;">
		<div class="panel-body">
			<div class="panel-group" id="index-downfloor-accordion" ng-repeat="floor in floorDown">

				<div class="panel panel-default" ng-mouseenter="showRemoveButton($event)" ng-mouseleave="hideRemoveButton($event)">
					<div class="panel-heading">
						<h4 class="panel-title">
							<span>B </span><a class="accordion-toggle" data-toggle="collapse" data-parent="#index-downfloor-accordion"
								href="#{{floor._id}}" ng-bind="Math.abs(floor.layer)"></a>
							
							<!-- Show link -->
							<span><a href="/floor/show/{{floor._id}}">details</a></span>
							
							<!-- Delete Icon -->
							<span class="glyphicon glyphicon-remove remove-button-list" ng-click="deleteDialogSetup()"></span>
														
						</h4>
					</div>
				</div>
				
				<!-- Stores Block -->
				<div id="{{floor._id}}" class="panel-collapse collapse floor">
					<% include ../store/store-list.html	%>
				</div>
				
			</div>

		</div>
	</div>
</div>
