<!DOCTYPE html>
<html lang="en" ng-app="sails" ng-controller="FloorShowCtrl">
	<head>

		<!-- Head meta, css or library include -->
		<% include ../layout/head-include.html %>

		<!-- Title -->
		<title ng-bind="floor.name"></title>

		<!-- relative params  -->
		<script>
			var maxFloorNumber = <%= maxFloorNumber %>,
				maxBasementNumber = <%= maxBasementNumber %>;			
		</script>

	</head>
	<body>

	    <!-- Fixed Top Navigation Bar -->
		<% include ../layout/top-navbar.html %>

		<div class="container">

		<!-- Navigation bar to display current floor of specific building -->
		<ol class="breadcrumb">		
			<!-- Loading -->
			<div class="loading" ng-show="loadingFloor">&nbsp;<img src="/img/loading.gif" alt="loading.."/></div>
			<!-- All Buildings -->
			<li>
				<a href="/user">
					<span class="glyphicon glyphicon-home"></span>
					<span><%= __("navbar.buildings") %></span>
				</a>
			</li>
			<!-- Building -->
			<li>
				<a href="/building/show/{{floor.buildingId}}" class="ng-hide" ng-hide="loadingFloor">
					<span class="glyphicon glyphicon-tower"></span>
					<span ng-bind="building.name"></span>
				</a>
			</li>
			<!-- Floor -->
			<li class="active ng-hide" ng-hide="loadingFloor">
				<span ng-show="up">
					<span ng-bind="floor.layer"></span> F
				</span> 
				<span ng-show="!up">
					B <span ng-bind="Math.abs(floor.layer)"></span>
				</span> 
			</li>
		</ol>

		<div class="jumbotron">

				<!-- Display Block -->
				<div class="row display-block">

					<!-- Loading -->
					<div class="loading" ng-show="loadingFloor">&nbsp;<img src="/img/loading.gif" alt="loading.."/></div>		

					<!-- Layer, name and description -->
					<div class="col-xs-12 col-sm-3 col-md-2 ng-hide" style="text-align:center;padding:15px 5px;" ng-hide="loadingFloor">
					  	<div href="#" ng-show="up">
					  		<span ng-bind="floor.layer"></span> F
					  	</div>
					  	<div href="#" ng-show="!up">
					  		B <span ng-bind="Math.abs(floor.layer)"></span>
					  	</div>
						<div>
							<span class="title"><%= __('floor.fields.name') %>:</span>
							<span ng-bind="floor.name"></span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-9 ng-hide" ng-hide="loadingFloor">
						<span class="title"><%= __('floor.fields.desc') %></span>
						<p ng-bind="floor.desc" style="padding:10px;"></p>
					</div>

					<br/><br/><hr>
					<!-- Edit trigger button -->
					<div class="col-xs-12 col-sm-8 col-md-9 ng-hide" ng-hide="loadingStore">
						<a href="/floor/getMap?map={{floor.map}}" target="_blank" ng-show="floor.map">
							<span class="glyphicon glyphicon-download"><%= __('floor.fields.mapXML') %></span>
						</a>&nbsp;
						<a href="/floor/getPath?path={{floor.path}}" target="_blank" ng-show="floor.path">
							<span class="glyphicon glyphicon-download"><%= __('floor.fields.pathXML') %></span>
						</a>
					</div>	
					<!-- Edit trigger button -->
					<span class="glyphicon glyphicon-edit edit-button"></span>

				</div>
				<hr/>

				<!-- Edit Block -->
				<div class="row edit-block">

					<!-- Cancel edit button -->
					<button type="button" class="close close-button" ng-click="cancelUpdateFloor()">x</button>

					<!-- Form -->
					<div>

						<!-- text fields -->
						<div class="form-group">
							<label for="name"><%= __('floor.fields.name') %></label>
							<input class="form-control" placeholder="<%= __('floor.fields.name') %>" name="name" ng-model="floor.name" maxlength="30">
						</div>
						<div class="form-group">
							<label for="layer"><%= __('floor.fields.layer') %></label>
					        <select ng-model="floor.layer" ng-options="c.value as c.name for c in layers | orderBy:'value'" ng-change="updateUp()"></select>
						</div>						
						<div class="form-group">
							<label for="desc"><%= __('floor.fields.desc') %></label>
							<input class="form-control" placeholder="<%= __('floor.fields.desc') %>" name="desc" ng-model="floor.desc" maxlength="250">
						</div>

						<!-- error msg -->
						<div class="alert alert-danger error-msg">
							  	<span class="label label-danger"><%= __('error.title') %></span>
							  	<span class="errorText"></span>
						</div>
						<button class="btn btn-md btn-primary" data-loading-text="<%= __('buttons.updating') %>"
							ng-click="updateFloor($event)"><%= __('buttons.update') %></button>

					</div>
					<hr/>

					<!-- Upload map area -->
					<div>
						<span class="title" style="width:150px;"><%= ('floor.show.lastXMLUpdateTime') %></span>
						<span ng-bind="floor.lastXmlUpdateTime"></span>																		
						<form name="form" action="/floor/uploadMap" method="POST" enctype="multipart/form-data">
							<input type="hidden" class="form-control" name="_id" value="{{floor._id}}">
							<label for="map"><%= __('floor.show.uploadMapHere') %></label>
							<a href="http://support.sailstech.com/kb/tutorial/create-indoor-map-and-path-routing-by-using-josm" target="_blank">
								&nbsp;&nbsp;<%= __('floor.show.howCanStart') %>
							</a>
							<input type="file" class="form-control upload-file" name="map">							
							<div class="alert alert-danger error-msg">
								<span class="label label-danger"><%= __('error.title') %></span> <span class="errorText"></span>
							</div>
						</form>
						<button class="btn btn-md btn-primary" style="display:none;" ng-click="uploadMap($event)"
							data-loading-text="<%= __('buttons.uploading') %>"><%= __('buttons.upload') %></button>
					</div>
					</br>
					
					<!-- Upload path area -->
					<div>
						<form name="form" action="/floor/uploadPath" method="POST" enctype="multipart/form-data">
							<input type="hidden" class="form-control" name="_id" value="{{floor._id}}">						
							<label for="path"><%= __('floor.show.uploadPathHere') %></label>
							<input type="file" class="form-control upload-file" name="path">
							<div class="alert alert-danger error-msg">
								<span class="label label-danger"><%= __('error.title') %></span> <span class="errorText"></span>
							</div>
						</form>
						<button class="btn btn-md btn-primary" style="display:none;" ng-click="uploadPath($event)"
							data-loading-text="<%= __('buttons.uploading') %>"><%= __('buttons.upload') %></button>
					</div>

				</div>

				<!-- Stores Block -->
				<% include ../store/store-list.html %>
			
			</div>

		</div>

		<!-- Body library include -->
		<% include ../layout/body-include.html	%>

	    <!-- Controller -->
	    <script src="/js/controller/floorContrl.js"></script>
	    <script src="/js/controller/storeContrl.js"></script>

	</body>

</html>