<!DOCTYPE html>
<html lang="en" ng-app="sails" ng-controller="FloorShowCtrl">
	<head>

		<!-- Head meta, css or library include -->
		<% include ../layout/head-include.html %>

		<!-- Title -->
		<title ng-bind="floor.name"></title>

	</head>
	<body>

	    <!-- Fixed Top Navigation Bar -->
		<% include ../layout/top-navbar.html %>

		<div class="container">

		<!-- Navigation bar to display current floor of specific building -->
		<ol class="breadcrumb">		
			<!-- Loading -->
			<div class="loading" ng-show="loadingFloor">&nbsp;<img src="/img/loading.gif" alt="loading.."/></div>		
		
			<li>
				<a href="/building/show/{{floor.buildingId}}" ng-hide="loadingFloor" style="display:none;">
					{{building.name}}
				</a>
			</li>
			<li class="active" ng-hide="loadingFloor" style="display:none;">
				<a href="#" ng-show="up"><span ng-bind="floor.layer"></span> F </a> 
				<a href="#" ng-show="!up"> B <span ng-bind="Math.abs(floor.layer)"></span></a>
			</li>
		</ol>

		<div class="jumbotron">

				<!-- Display Block -->
				<div class="row display-block">

					<!-- Loading -->
					<div class="loading" ng-show="loadingFloor">&nbsp;<img src="/img/loading.gif" alt="loading.."/></div>		

					<!-- Layer, name and description -->
					<div class="col-xs-12 col-sm-3 col-md-2" style="text-align:center;padding:15px 5px;display:none;" ng-hide="loadingFloor">
					  	<div href="#" ng-show="up">
					  		<span ng-bind="floor.layer"></span> F
					  	</div>
					  	<div href="#" ng-show="!up">
					  		B <span ng-bind="Math.abs(floor.layer)"></span>
					  	</div>
						<div>
							<span class="title">Name:</span>
							<span ng-bind="floor.name"></span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-9" ng-hide="loadingFloor" style="display:none;">
						<span class="title">Description</span>
						<p ng-bind="floor.desc" style="padding:10px;"></p>
					</div>

					<br/><br/><hr>
					<!-- Edit trigger button -->
					<div class="col-xs-12 col-sm-8 col-md-9" ng-hide="loadingStore" style="display:none;">
						<a href="/floor/getMap?map={{floor.map}}" target="_blank" ng-show="floor.map">
							<span class="glyphicon glyphicon-download">Map.xml</span>
						</a>&nbsp;
						<a href="/floor/getPath?path={{floor.path}}" target="_blank" ng-show="floor.path">
							<span class="glyphicon glyphicon-download">Path.xml</span>
						</a>
					</div>	
					<!-- Edit trigger button -->
					<span class="glyphicon glyphicon-edit edit-button"></span>

				</div>
				<hr/>

				<!-- Edit Block -->
				<div class="row edit-block">

					<!-- Cancel edit button -->
					<button type="button" class="close close-button" ng-click="cancelUpdateFloor()">x</button>

					<!-- Form -->
					<div>

						<!-- text fields -->
						<div class="form-group">
							<label for="name">Name</label>
							<input class="form-control" placeholder="Floor Name" name="name" ng-model="floor.name">
						</div>
						<div class="form-group">
							<label for="desc">Description</label>
							<input class="form-control" placeholder="Floor Description" name="desc" ng-model="floor.desc">
						</div>

						<!-- error msg -->
						<div class="alert alert-danger error-msg">
							  	<span class="label label-danger">Error</span>
							  	<span class="errorText"></span>
						</div>
						<button class="btn btn-md btn-primary" data-loading-text="Updating"
							ng-click="updateFloor($event)">Update</button>

					</div>
					<hr/>

					<!-- Icons upload area -->
					<div>
						<span class="title">Last Xml update time</span>
						<span ng-bind="floor.lastXmlUpdateTime"></span>																		
						<form name="form" action="/floor/uploadMapAndPath" method="POST" enctype="multipart/form-data">
							<input type="hidden" class="form-control" name="_id" value="{{floor._id}}">
							<label for="map">Upload Map file here</label>
							<a href="http://support.sailstech.com/kb/tutorial/create-indoor-map-and-path-routing-by-using-josm">	How can I get started on the map?
							</a>
							<input type="file" class="form-control upload-file" name="map">							
							<label for="path">Upload Path Routing file here</label>
							<input type="file" class="form-control upload-file" name="path">
							<div class="alert alert-danger error-msg">
								<span class="label label-danger">Error</span> <span class="errorText"></span>
							</div>
						</form>
						<button class="btn btn-md btn-primary" style="display:none;" ng-click="uploadMapAndPath($event)"
							data-loading-text="Uploading...">Upload</button>
					</div>

				</div>

				<!-- Stores Block -->
				<% include ../store/store-list.html	%>

			</div>

		</div>

		<!-- Body library include -->
		<% include ../layout/body-include.html	%>

	    <!-- Controller -->
	    <script src="/js/controller/floorContrl.js"></script>
	    <script src="/js/controller/storeContrl.js"></script>

	</body>

</html>