<!-- Store list include in page 'floor/index.html' -->
<div class="panel-body" ng-controller="StoreListCtrl">
	<h4>Stores</h4>
	<h6>Total Count: <span ng-bind="floor.stores.size"></span></h6>
	<div class="belement" ng-repeat="store in floor.stores">
		<a href="/store/show/{{store._id}}">
			<img ng-show="store.icon" ng-src="/<%= imagePath %>/{{store.icon}}" alt="Store Icon" class="default-icon"/>
			<img ng-hide="store.icon" src="/img/no-image.png" alt="Store Icon" class="default-icon"/>
			<p ng-bind="store.name"></p>
		</a>
	</div>		
</div>
