<!-- Building List include in page 'user/index.html' -->
<div class="jumbotron" ng-controller="BuildingListCtrl">

	<!-- Title -->
	<h3 style="display:inline;">My buildings</h3>

	<!-- Add building form block -->
	<% include ../building/building-add.html %>
	<br>

	<!-- Buildings list -->
	<div id="building-list" class="row display-block">
		
		<!-- Loading -->
		<div class="loading" ng-show="loading">&nbsp;<img src="/img/loading.gif" alt="loading.."/></div>	
		
		<!-- Content -->
		<div class="panel-body">
			<div class="belement" ng-repeat="building in buildings" ng-mouseenter="showRemoveButton($event)" ng-mouseleave="hideRemoveButton($event)">
				<span class="glyphicon glyphicon-remove remove-button-list" ng-click="deleteDialogSetup()"></span>
				<img ng-src="{{building.icon}}" alt="Image Icon" class="default-icon" ng-hide="loading" style="display:none;"/>
				<a href="/building/show/{{building._id}}"><span ng-bind="building.name"></span></a>				
				<% if(user.role == roles.ADMIN){ %>
					<!-- Show building's owner if admin -->
					<h6>{{building.userName}}</h6>
				<% } %>
			</div>
		</div>
	</div>
	
	<!-- Delete Confirm Dialog -->
	<% include ../layout/delete-confirm-dialog.html %>	

</div>