<!-- Buildings list include in page 'user/index.html' -->
<div class="jumbotron" ng-controller="BuildingListCtrl">

	<!-- Title -->
	<h3 style="display:inline;">My buildings</h3>

	<!-- Add building form block -->
	<div id="add-building-block">

		<!-- fields and button -->
		<input class="form-control" placeholder="name" name="name" value="">
		<input class="form-control" placeholder="description" name="desc" value="">
		<button class="btn btn-primary" data-loading-text="Add..." id="add-new-building-button" ng-click="addBuilding()">Add New Building</button>

		<!-- error msg -->
		<div class="alert alert-danger" style="display: none;"
			id="error-dialog">
			<span class="label label-danger">Error</span> <span class="errorText"></span>
		</div>

	</div>
	<br>

	<!-- Buildings list -->
	<div id="building-list" class="row" style="background-color: #f7f7f9;">
		<div class="col-xs-6 col-sm-4 col-md-2" ng-repeat="building in buildings">
			<div class="belement">
				<a href="/building/show/{{building._id}}">
					<img ng-show="building.icon" ng-src="/<%= imagePath %>/{{building.icon}}" alt="Image Icon" class="default-icon"/>
					<img ng-hide="building.icon" src="/img/no-image.png"alt="Image Icon" class="default-icon"/>
					<span ng-bind="building.name"></span>
				</a>
			</div>
		</div>
	</div>

</div>