<!DOCTYPE html>
<html lang="en" ng-app="sails" ng-controller="BuildingShowCtrl">
	<head>
	
		<!-- Head meta, css or library include -->
		<% include ../layout/head-include.html %>
		
		<!-- Title -->
		<title>{{building.name}}</title>
	
	</head>

<body>

    <!-- Fixed Top Navigation Bar -->
	<% include ../layout/top-navbar.html %>

	<div class="container">

		<!-- Navigator bar to display current store of floor of specific building -->
		<ol class="breadcrumb">
		  <li><a href="/user">My Building</a></li>
		</ol>

		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron">

			<!-- Buidling basic info display and editor -->
			<div id="building-index-basic-display" class="row display-block">
				
				<!-- Loading -->
				<div class="loading" ng-show="loadingBuilding">&nbsp;<img src="/img/loading.gif" alt="loading.."/></div>	

				<!-- Edit trigger button -->
				<span class="glyphicon glyphicon-edit edit-button"></span>

				<!-- Display block -->
				<div class="col-xs-12 col-sm-3 col-md-2" style="text-align:center;padding:15px 5px;display:none;" ng-hide="loadingBuilding">
					<img ng-src="{{building.icon}}" alt="Building Icon" class="icon"/>
					<div ng-hide="loadingBuilding">
						<strong style="font-size:10px">ID: {{building._id}}</strong>
					</div>
					<div ng-hide="loadingBuilding">
						<span class="title">Name:</span>
						<span ng-bind="building.name"></span>
					</div>
					<div ng-hide="loadingBuilding">
						<span class="title">Public</span>
						<span ng-bind="building.pub"></span>											
					</div>

				</div>
				<div class="col-xs-12 col-sm-8 col-md-9" ng-hide="loadingBuilding" style="display:none;">
					<span class="title">Description</span>
					<p ng-bind="building.desc" style="padding:10px;"></p>
				</div>
				<br><br>
				<hr/>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="loadingBuilding" style="display:none;">
					<span class="title">Address:</span>
					<span ng-bind="building.address"></span>
				</div>				
				<hr/>		
				<!-- Package all floor map zips to building map zip -->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="loadingBuilding" style="display:none;">
					<span class="title">Last package time</span>
					<span ng-bind="building.mapzipUpdateTime"></span>
					<button class="btn btn-md btn-primary"  ng-click="packageMapzip($event)"
						data-loading-text="Packaging">Package</button>								
				</div>				
							
			</div>


			<!-- Building Index Basic Information Edit Block -->
			<div id="building-index-basic-edit" class="row edit-block">

				<!-- Cancel edit button -->
				<button type="button" class="close close-button" ng-click="cancelUpdateBuilding()">x</button>

				<!-- Form -->
				<div id="update-form">

					<!-- Input Fields -->
					<input type="hidden" name="id" value="{{building._id}}">
					<div class="form-group">
						<label for="name">Name</label>
						<input id="update-form-name" class="form-control" placeholder="Building Name" name="name" ng-model="building.name">
					</div>
					<div class="form-group">
						<label for="desc">Description</label>
						<textarea id="update-form-desc" class="form-control" placeholder="Building Description" name="desc" ng-model="building.desc"></textarea>
					</div>
					<div class="form-group">
						<label for="address">Address</label>
						<input id="update-form-address" class="form-control" placeholder="Building Address" name="address" ng-model="building.address">
					</div>					
					
					<% if(user && (user.role == roles.ADMIN || user.role == roles.DEVELOPER) ){ %>
						<div class="form-group">
							<label for="pub">Public</label>
							<input type="checkbox" name="pub" ng-model="building.pub"><br/>
						</div>
					<% } %>		

					<!-- error msg -->
					<div class="alert alert-danger error-msg">
					  	<span class="label label-danger">Error</span>
					  	<span class="errorText"></span>
					</div>
					<button class="btn btn-md btn-primary" data-loading-text="Updating" ng-click="updateBuilding($event)">Update</button>

				</div>
				<hr/>

				<!-- Mapzip upload area, Note: we won't use this now, all mapzip package from server -->
				<!-- 
				<div class="edit-block">
					<form id="image-form" name="form" action="/building/uploadMapzip" method="POST" enctype="multipart/form-data">
						<input type="hidden" name="_id" value="{{building._id}}" >
						<label for="mapzip">Upload mapzip:</label>
						<span ng-bind="building.mapzipUpdateTime"></span>
						<div class="alert alert-danger error-msg">
							<span class="label label-danger">Error</span> <span class="errorText"></span>
						</div>
						<input type="file" class="form-control upload-file" placeholder="Building Map Zip file" name="mapzip">
					</form>
					<button class="btn btn-md btn-primary" style="display:none;" ng-click="uploadMapzip($event)">Upload</button>
				</div>
				-->

				<!-- Icons upload area -->
				<div>
					<form id="image-form" name="form" action="/building/uploadImage" method="POST" enctype="multipart/form-data">
						<input type="hidden" name="_id" value="{{building._id}}" >
						<label for="image">Upload icon image:</label>
						<img ng-src="{{building.icon}}" alt="Building Icon" class="icon"/>
						<div class="alert alert-danger error-msg">
							<span class="label label-danger">Error</span> <span class="errorText"></span>
						</div>
						<input type="file" class="form-control upload-file" placeholder="Building Icon" name="image">
					</form>
					<button class="btn btn-md btn-primary" style="display:none;" ng-click="uploadBuildingImage($event)">Upload</button>
				</div>

			</div>
	
			<!-- floors Block -->
			<% include ../floor/floor-list.html %>

		</div>

	</div>
	<!-- /container -->
	
	<!-- Body library include -->
	<% include ../layout/body-include.html	%>
		
    <!-- Controller -->
    <script src="/js/controller/buildingContrl.js"></script>
    <script src="/js/controller/floorContrl.js"></script>
    <script src="/js/controller/storeContrl.js"></script>

  </body>
</html>
