<!DOCTYPE html>
<html lang="en" ng-app="sails" ng-controller="BuildingShowCtrl">
	<head>
	
		<!-- Head meta, css or library include -->
		<% include ../layout/head-include.html %>
		
		<!-- Title -->
		<title ng-bind="building.name"></title>
	
	</head>

<body>

    <!-- Fixed Top Navigation Bar -->
	<% include ../layout/top-navbar.html %>

	<div class="container">

		<!-- Navigator bar to display current store of floor of specific building -->
		<ol class="breadcrumb">
		  <li><a href="/user">Buildings</a></li>
		  <li class="active ng-hide" ng-hide="loadingBuilding">
			<span ng-bind="building.name"></span>
		  </li>		  
		</ol>

		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron">

			<!-- Buidling basic info display and editor -->
			<div id="building-index-basic-display" class="row display-block">
				
				<!-- Loading -->
				<div class="loading" ng-show="loadingBuilding">&nbsp;<img src="/img/loading.gif" alt="loading.."/></div>	

				<!-- Edit trigger button -->
				<span class="glyphicon glyphicon-edit edit-button"></span>

				<!-- Display block -->
				<div class="col-xs-12 col-sm-3 col-md-2 ng-hide" style="text-align:center;padding:15px 5px;" ng-hide="loadingBuilding">
					<img ng-src="{{building.icon}}" alt="Building Icon" class="icon"/>
					<div ng-hide="loadingBuilding">
						<strong style="font-size:10px">ID: 
							<span ng-bind="building._id"></span>
						</strong>
					</div>
					<div>
						<span class="title"><%= __('building.fields.name') %></span>
						<span ng-bind="building.name"></span>
					</div>
					<div>
						<span class="title"><%= __('building.fields.pub') %></span>
						<span ng-bind="building.pub"></span>											
					</div>

				</div>
				<div class="col-xs-12 col-sm-8 col-md-9 ng-hide" ng-hide="loadingBuilding">
					<span class="title"><%= __('building.fields.desc') %></span>
					<p ng-bind="building.desc" style="padding:10px;"></p>
				</div>
				<br><br>
				<hr/>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ng-hide" ng-hide="loadingBuilding">
					<span class="title"><%= __('building.fields.address') %></span>
					<span ng-bind="building.address"></span>
				</div>				
				<hr/>		
				<!-- Package all floor map zips to building map zip -->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ng-hide" ng-hide="loadingBuilding">
					<span class="title"><%= __('building.fields.lastPackageTime') %></span>
					<span ng-bind="building.mapzipUpdateTime"></span>
					<button class="btn btn-md btn-primary"  ng-click="packageMapzip($event)"
						data-loading-text="<%= __('buttons.packaging') %>">
						<%= __('buttons.package') %>
					</button>								
				</div>				
							
			</div>
			<hr/>

			<!-- Building Index Basic Information Edit Block -->
			<div id="building-index-basic-edit" class="row edit-block">

				<!-- Cancel edit button -->
				<button type="button" class="close close-button" ng-click="cancelUpdateBuilding()">x</button>

				<!-- Form -->
				<div id="update-form">

					<!-- Input Fields -->
					<input type="hidden" name="id" value="{{building._id}}">
					<div class="form-group">
						<label for="name"><%= __('building.fields.name') %></label>
						<input id="update-form-name" class="form-control" placeholder="<%= __('building.fields.name') %>" name="name" ng-model="building.name"  maxlength="30">
					</div>
					<div class="form-group">
						<label for="desc"><%= __('building.fields.desc') %></label>
						<textarea id="update-form-desc" class="form-control" placeholder="<%= __('building.fields.desc') %>" name="desc" ng-model="building.desc" maxlength="250"></textarea>
					</div>
					<div class="form-group">
						<label for="address"><%= __('building.fields.address') %></label>
						<input id="update-form-address" class="form-control" placeholder="<%= __('building.fields.address') %>" name="address" ng-model="building.address">
					</div>					
					
					<% if(user && (user.role == roles.ADMIN || user.role == roles.DEVELOPER) ){ %>
						<div class="form-group">
							<label for="pub"><%= __('building.fields.pub') %></label>
							<input type="checkbox" name="pub" ng-model="building.pub"><br/>
						</div>
					<% } %>		

					<!-- error msg -->
					<div class="alert alert-danger error-msg">
					  	<span class="label label-danger"><%= __('error.title') %></span>
					  	<span class="errorText"></span>
					</div>
					<button class="btn btn-md btn-primary" data-loading-text="<%= __('buttons.updating') %>" ng-click="updateBuilding($event)"><%= __('buttons.update') %></button>

				</div>
				<hr/>

				<!-- Mapzip upload area, Note: we won't use this now, all mapzip package from server -->
				<!-- 
				<div class="edit-block">
					<form id="image-form" name="form" action="/building/uploadMapzip" method="POST" enctype="multipart/form-data">
						<input type="hidden" name="_id" value="{{building._id}}" >
						<label for="mapzip">Upload mapzip:</label>
						<span ng-bind="building.mapzipUpdateTime"></span>
						<div class="alert alert-danger error-msg">
							<span class="label label-danger">Error</span> <span class="errorText"></span>
						</div>
						<input type="file" class="form-control upload-file" placeholder="Building Map Zip file" name="mapzip">
					</form>
					<button class="btn btn-md btn-primary" style="display:none;" ng-click="uploadMapzip($event)">Upload</button>
				</div>
				-->

				<!-- Icons upload area -->
				<div>
					<form id="image-form" name="form" action="/building/uploadImage" method="POST" enctype="multipart/form-data">
						<input type="hidden" name="_id" value="{{building._id}}" >
						<label for="image"><%= __('building.show.uploadIconImage') %></label>
						<img ng-src="{{building.icon}}" alt="Building Icon" class="icon"/>
						<div class="alert alert-danger error-msg">
							<span class="label label-danger"><%= __('error.title') %></span> 
							<span class="errorText"></span>
						</div>
						<input type="file" class="form-control upload-file" placeholder="Building Icon" name="image">
					</form>
					<button class="btn btn-md btn-primary" style="display:none;" ng-click="uploadBuildingImage($event, selectedBuilding)"><%= __('buttons.upload') %></button>
				</div>

			</div>
	
			<div class="row display-block">

				<!-- Nav tab for pois and buildings -->
				<ul class="nav nav-tabs poisAndBuildingsTab" role="tablist">
				  <li>
				  	<button class="tab-button active" href="#floor-list" role="tab" data-toggle="tab" ng-click="addTabActiveClass($event)">
				  		<%= __('floor.list.floors')%>
				  	</button>
				  </li>
				  <li>
				  	<button class="tab-button" href="#poi-list" role="tab" data-toggle="tab" ng-click="addTabActiveClass($event)">
				  		<%= __('poi.list.pois')%>
				  	</button>
				  </li>
				</ul>
				<div class="tab-content">
					<!-- Pois list block -->
					<% include ../poi/poi-list.html %>
					<!-- Floor Block -->
					<% include ../floor/floor-list.html %>				
				</div>	

			</div>	

		</div>

	</div>
	<!-- /container -->
	
	<!-- Body library include -->
	<% include ../layout/body-include.html	%>
		
    <!-- Controller -->
    <script src="/js/controller/buildingContrl.js"></script>
    <script src="/js/controller/floorContrl.js"></script>
    <script src="/js/controller/storeContrl.js"></script>

  </body>
</html>
