<!-- Main Index Floor Block Html -->

<!-- Custom CSS Stylesheet -->
<style>
.basic-block {
	background-color: #f7f7f9;
	position: relative;
	border-radius: 10px;
	margin: 15px auto;
}

#addUpFloor, #addDownFloor{
	cursor: pointer;
}
</style>

<div class="basic-block">
	<label>Floor:</label>
	<select id="floor-list">
	<% for(var i=0; i<30; i++){ %>
	  <option value="volvo"><%= i%></option>
	<% } %>
	</select>
	<a class="btn btn-lg btn-primary" href="#" id="add-up-floor">Add Up floor</a>
	<a class="btn btn-lg btn-primary" href="#" id="add-down-floor">Add Down floor</a>
	
</div>
<script>
	var buildingId= "<%= building.id %>",
		currentUpFloor = <%= building.upfloor%> + 1,
		currentDownFloor = -(<%= building.downfloor%>) - 1;
	console.log(currentUpFloor);
	console.log(currentDownFloor);	
</script>
<script src="/js/building/index-floor.js"></script>