<!DOCTYPE html>
<html lang="en">
  <head>
  
	<!-- Head meta, css or library include -->
	<% include layout/head-include.html %>

	<!-- Title -->
    <title>Index</title>
	    	    
    <style>
		body {
		  /* min-height: 2000px; */
		  padding-top: 70px;
		}
    </style>

  </head>

  <body>
	
	<% if(activate && activate != ""){ %>
		<script>
			alert("<%= activate %>")
		</script>
	<% } %>
		
    <!-- Fixed Top Navigation Bar -->
	<% include layout/top-navbar.html %>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Sails Cloud Service</h1>
        <p>Welcome to Sails cloud service</p>
      </div>

    </div> <!-- /container -->
	
	<!-- Body library include -->
	<% include layout/body-include.html	%>
				
  </body>
</html>
