<!DOCTYPE html>
<html lang="en">
	<head>
	
		<!-- Head meta, css or library include -->
		<% include layout/head-include.html %>
	
		<!-- Title -->
	    <title>Sails</title>

	</head>
	<body>
	
		<% if(activate && activate != ""){ %>
			<script>
				alert("<%= activate %>")
			</script>
		<% } %>

		<!-- Fixed Top Navigation Bar -->
		<% include layout/top-navbar.html %>
	
		<div class="container" id="index-container">
	
			<form class="form-signin" method="post" action="/auth">
				
				<!-- error msg -->
				<div class="alert alert-danger" style='display:none;' id="error-dialog">
					<span class="label label-danger">Error</span> <span
						class="errorText"> <% if ( errorMsg ) { %> <%= errorMsg %>
						<% } else {} %> </span>
					<!-- Check is there any error msg for display -->
					<script>				  		
					  		if("<%= errorMsg%>")
					  		    document.getElementById("error-dialog").style.display = "";
					</script>
				</div>
				
				<label>Username</label>
				<input type="text" class="form-control" placeholder="Email address" autofocus name="username">
				</br> 
				<label>Password</label>									
				<input type="password" class="form-control" placeholder="Password" name="password" value="">
				</br>
				<input type="checkbox" name="rememberMe"> <label for="checkbox">Remember me</label>
				</br>
				<button class="btn btn-lg btn-primary" type="submit">Sign In</button>
				</br>
	
				<!-- Register and Forget Password -->
				<a href="register" id="register-link">Register</a> | 
				<a data-toggle="modal" href="#forget-password-dialog" >Forget Password</a>
				
				<div id="socialSignIn">
					<!-- App not support yet  -->										
					<!--<a href="/auth/facebook"><img alt="Login with facebook" src="img/flogin.png"/></a>-->
					<!-- No need twitter and google+ now  -->					
					<!-- <a href="/auth/twitter"><img alt="Login with facebook" src="img/tlogin.png"/></a>
					<a href="/auth/google"><img alt="Login with facebook" src="img/glogin.png"/></a>
					-->															
				</div>
	
			</form>
		</div>


		<!-- Body library include -->
		<% include layout/body-include.html	%>

		<!-- Forget Password Dialog include -->
		<% include user/forget-password-dialog.html	%>
		
	</body>
</html>
