<!-- Developer app create dialog include in developer/app-index.html -->
<a data-toggle="modal" class="btn btn-default" href="#add-app-dialog" ng-hide="loadingApp" style="margin: 20px 20px;">
	<span class="glyphicon glyphicon-plus" ></span> Create New API Key
</a>
 <div class="modal fade" id="add-app-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content" ng-controller="DeveloperListCtrl">

		<!-- Header -->
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 class="modal-title">Create New API Key</h3>
			<p>
				The APIs require that requests include a unique project identifier. This enables the Console to tie a request to a specific project in order to monitor traffic, enforce quotas, and handle billing.
			</p>
		</div>
		
		<!-- Body -->
		<div class="modal-body" style="text-align:center;">
			<a data-toggle="modal" class="btn btn-default" href="#add-app-androidKey-dialog" style="margin:10px 10px;" ng-click="hideAppCreateDialog($event)">
				Android Key
			</a>			
			<a data-toggle="modal" class="btn btn-default" href="#add-app-iosKey-dialog" style="margin:10px 10px;" ng-click="hideAppCreateDialog($event)">
				IOS Key
			</a>			
		</div>

		<!-- Footer -->
		<div class="modal-footer">
		</div>

     </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->


<!-- Android key dialog -->
 <div class="modal fade" id="add-app-androidKey-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">

		<!-- Header -->
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 class="modal-title">Create an Android key and configure allowed Android applications</h3>
			<hr>
			<p>
				<strong>This API key will be deployed into Sails Android SDK using in your Android application.</strong>
				<br>
				<small>
					API requests are sent directly to Sails from your client Android device.
					Sails verifies that each request originates from an Android application that matches one of the certificate SHA1 fingerprints and package names listed below. You can discover the SHA1 fingerprint with base64 encode of your developer certificate by keytool using the following command:
				</small>
				<br>
				<code style="font-size:12px;">keytool -exportcert -alias <RELEASE_KEY_ALIAS> -keystore <RELEASE_KEY_PATH> | openssl sha1 -binary | openssl base64</code>
				<br>		
				<small>
					One SHA1 certificate fingerprint with base64 encode and package name (separated by a semicolon) per line. <strong>Example:</strong>
				</small>
				<br>
				<code style="font-size:12px;">478uEnKQV+fMQT8Dy4AKvHkYibo=;com.example.MyAppxample</code>
			</p>
		</div>
		
		<!-- Body -->
		<div class="modal-body">
			<div class="form-group">
				<textarea class="form-control" placeholder="${SHA1_CERTIFICATE_FINGERPRINT_WITH_BASE64_ENCODE};${PACKAGE_NAME}" name="fingerprintAndPackageName" value=""></textarea>
				<!-- error msg -->
				<div class="alert alert-danger error-msg">
					<span class="label label-danger">Error</span>
					<span class="errorText"></span>
				</div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" data-loading-text="Creating..." ng-click="createKey($event, 1)">Create</button>
			</div>			
		</div>

     </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->


 <!-- IOS key dialog -->
 <div class="modal fade" id="add-app-iosKey-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">

		<!-- Header -->
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 class="modal-title">Create an IOS key and configure allowed IOS applications</h3>
			<hr>
			<p>
				<strong>This key will be deployed into Sails IOS SDK using in your IOS application.</strong><br>
				<small>
					API requests are sent directly to Sails from your clients' iOS devices. Sails verifies that each request originates from an iOS application that matches one of the bundle identifiers listed below.
				</small>
				<br>
				<small>One bundle identifier per line. <strong>Example:<strong></small>
				<br>
				<code style="font-size:12px;">com.example.MyAppxample</code>
			</p>
		</div>
		
		<!-- Body -->
		<div class="modal-body">
			<div class="form-group">
				<textarea class="form-control" placeholder="${BUNDDLE_ID}" name="bundleId" value=""></textarea>
				<!-- error msg -->
				<div class="alert alert-danger error-msg">
					<span class="label label-danger">Error</span>
					<span class="errorText"></span>
				</div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" data-loading-text="Creating..." ng-click="createKey($event, 2)">Create</button>																	
			</div>			
		</div>

     </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->
 