<!-- Regenerate key alert dialog -->
 <div class="modal fade" id="regenerate-key-alert-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">

		<!-- Header -->
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 class="modal-title">Do you want to replace the current key with a new one?</h3>
			<p>
				<strong>Current key will be unavailable anymore!</strong>
			</p>
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-primary" data-loading-text="Regenerating..." ng-click="regenerateKey($event)">Create</button>			
		</div>	

     </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->