<!-- Forget Password Dialog include in login.html -->
<div class="modal fade" id="forget-password-dialog" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Header -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Forget Password</h4>
			</div>

			<!-- Body -->
			<div class="modal-body">
				<p>Please enter your registered email address.</p>
				<div class="form-group">
					<input class="form-control" placeholder="Email Address" name="email">
				</div>
				<div class="alert alert-danger error-msg">
					<span class="label label-danger">Error</span> 
					<span class="errorText"></span>
				</div>
			</div>

			<!-- Footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" data-loading-text="Confirming..." id="forget-password-dialog-confirm">Confirm</button>
			</div>

		</div>
	</div>
</div>

<script>
	$(document).ready(function() {

		$("#forget-password-dialog-confirm").click(function(){
			
			var utility = Utility.getInstance(),
				dialog = $("#forget-password-dialog"),
				confirmButton = $(this),
				closeButton = confirmButton.prev(),
				closeButtonTop = dialog.find("button.close"),				
				emailObj = dialog.find("input[name=email]"),
				errorMsgObj = dialog.find(".error-msg");
			
			if(utility.emailValidate(emailObj, errorMsgObj)){
				
				// Disable all buttons
				confirmButton.button("loading");				
				closeButton.attr('disabled', 'disabled');
				closeButtonTop.attr('disabled', 'disabled');
				
				// Disable input field
				emailObj.attr('disabled', 'disabled');
				
				// Hide error msg
				errorMsgObj.hide();
				
				$.ajax({
  
					url: "/user/forgetPassword",
					type: "POST",
					data: JSON.stringify({ 
						email : emailObj.val() 
					}),
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function(data, textStatus){
						
						// Enable buttons
						confirmButton.button('reset');				
						closeButton.removeAttr('disabled');
						closeButtonTop.removeAttr('disabled');

						// Enable input field
						emailObj.removeAttr('disabled');
						
						// Show error msg
						errorMsgObj.removeClass('alert-danger').addClass('alert-success');
						errorMsgObj.find('.label').removeClass('label-danger').addClass('label-success').text("Success");
						errorMsgObj.find('.errorText').text(data.msg);
						errorMsgObj.show();												
						
					},
					error: function(jqXHR, textStatus){
						if(jqXHR.responseText){
							
							var result = JSON.parse(jqXHR.responseText);
							
							// Enable buttons
							confirmButton.button('reset');				
							closeButton.removeAttr('disabled');
							closeButtonTop.removeAttr('disabled');

							// Enable input field
							emailObj.removeAttr('disabled');
							
							// Show error msg
							errorMsgObj.removeClass('alert-success').addClass('alert-danger');
							errorMsgObj.find('.label').removeClass('label-success').addClass('label-danger').text("Error");
							errorMsgObj.find('.errorText').text(result.msg);
							errorMsgObj.show();								
							
						}
					}
				});
			}
							
		});

	});
</script>
