<!DOCTYPE html>
<html lang="en" ng-app="sails">
  <head>
  
	<!-- Head meta, css or library include -->
	<% include ../layout/head-include.html %>
	
	<!-- Title -->
    <title>user</title>

  </head>

  <body>

    <!-- Fixed Top Navigation Bar Template -->
	<% include ../layout/top-navbar.html %>

	<!-- Main Container -->
    <div class="container">

		<!-- Building List Template -->
		<% include ../building/building-list.html %>

    </div>

	<!-- Body library include -->
	<% include ../layout/body-include.html	%>

    <!-- Controller -->
    <script src="/js/controller/buildingContrl.js"></script>

  </body>
</html>
