<!DOCTYPE html>
<html lang="en">
	<head>
	
		<!-- Head meta, css or library include -->
		<% include ../layout/head-include.html %>
		
		<!-- Title -->
		<title>Reset Password</title>
	
	</head>
	<body>
	
		<!-- Fixed Top Navigation Bar -->
		<% include ../layout/top-navbar.html %>
	
		<div class="container">
	
			<!-- Main component for a primary marketing message or call to action -->
			<div class="jumbotron">
				
				<div id="resetPasswordForm">
					<h2>Please reset your password</h2>
					<input type="hidden" name="_id" value="<%= userId %>">
					<input type="hidden" name="token" value="<%= token %>">
										
					<!-- Form fields -->
					<div class="form-group">
						<label for="password">Original Password</label> 
						<input type="password" class="form-control" placeholder="Original Password" name="password">
					</div>
					<div class="form-group">
						<label for="newPassword">New Password</label> 
						<input type="password" class="form-control" placeholder="New Password" name="newPassword">
					</div>
					<div class="form-group">
						<label for="confirmPpassword">Confirm New Password</label> 
						<input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword">
					</div>
					<div class="alert alert-danger error-msg">
						<span class="label label-danger">Error</span> 
						<span class="errorText"></span>
					</div>		
					<!-- Submit button -->
					<button type="submit" class="btn btn-default" id="submit">Submit</button>
				</div>
	
			</div>
	
		</div>
		<!-- /container -->
	
		<!-- Body library include -->
		<% include ../layout/body-include.html %>
		
		<script>
			$(document).ready(function(){
				
				$("#submit").click(function(){
					var utility = Utility.getInstance(),
						form = $("#resetPasswordForm"),
						confirmButton = $(this),
						closeButton = confirmButton.prev(),
						inputFields = form.find('input'),
						idObj = form.find("input[name=_id]"),
						passwordObj = form.find("input[name=password]"),
						npasswordObj = form.find("input[name=newPassword]"),
						cfpasswordObj = form.find("input[name=confirmPassword]"),						
						errorMsgObj = form.find(".error-msg");
					
					if (utility.passwordValidate(passwordObj, errorMsgObj) &&				
						utility.passwordValidate(npasswordObj, errorMsgObj) &&
						utility.newPasswordValidate(npasswordObj, cfpasswordObj, errorMsgObj)) {
						
						// Disable all buttons
						confirmButton.button("loading");				
						closeButton.attr('disabled', 'disabled');
						
						// Disable input field
						inputFields.attr('disabled', 'disabled');
						
						// Hide error msg
						errorMsgObj.hide();
						
						$.ajax({
		  
							url: "/user/resetPasswordAuth",
							type: "POST",
							data: JSON.stringify({ 
								_id: idObj.val(),
								password 	: passwordObj.val(),
								npassword : npasswordObj.val(),								
							}),
							contentType: "application/json; charset=utf-8",
							dataType: "json",
							success: function(res, textStatus){

								// Enable buttons
								confirmButton.button('reset');				
								closeButton.removeAttr('disabled');
		
								// Enable input field
								inputFields.removeAttr('disabled');
								
								if(res.msg){
									
									// Show error msg
									errorMsgObj.removeClass('alert-danger').addClass('alert-danger');
									errorMsgObj.find('.label').removeClass('label-success').addClass('label-danger').text("Error");
									errorMsgObj.find('.errorText').text(res.msg);
									errorMsgObj.show();									
									
								}else{
									
									// Show error msg
									errorMsgObj.removeClass('alert-danger').addClass('alert-success');
									errorMsgObj.find('.label').removeClass('label-danger').addClass('label-success').text("Success");
									errorMsgObj.find('.errorText').text("Change password successfully");
									errorMsgObj.show();
									
									// Redirect to index page
									setTimeout(function(){
										window.location = "/";
									}, 2000);
									
								}																
								
							}
						});
					}
				
				
				});
								
			});				
				
		</script>
		
	</body>
</html>
