<!-- User list include in page 'user/all.html' -->
<div class="jumbotron">
	<div class="panel panel-default">	
		<div class="panel-heading">Users</div>
		<table class="table">
			<thead>
				<th>Username</th>
				<th>Role</th>
				<th>Token</th>
				<th>fid</th>
				<th>tid</th>												
			</thead>
			<tbody>
				<tr ng-repeat="user in users" id="{{user._id}}">				
					<td ng-bind="user.username"></td>
					<td ng-bind="user.role"></td>
					<td ng-bind="user.token"></td>
					<td ng-bind="user.fid"></td>
					<td ng-bind="user.tid"></td>
					<td>
						<a data-toggle="modal" class="btn btn-default" href="#user-update-dialog" 
							ng-click="selectUser(user)">
							<span class="glyphicon glyphicon-edit"></span>
						</a>					
					</td>						
					<td>
						<a data-toggle="modal" class="btn btn-default" href="#user-change-password-dialog" 
							ng-click="selectUser(user)">
							Change Password
						</a>					
					</td>										
				</tr>
			</tbody>			
		</table>		
	</div>
</div>