<!DOCTYPE html>
<html lang="en" ng-app="sails" ng-controller="PoiShowCtrl">
	<head>
	
		<!-- Head meta, css or library include -->
		<% include ../layout/head-include.html %>
		
		<!-- Title -->
		<title ng-bind="poi.name"></title>

		<!-- bootstrap tag manager library -->
		<script src="/js/jquery/typeahead.js"></script>
		<script src="/js/jquery/tagmanager.js"></script>
		<link href="/stylesheets/tagmanager.css" rel="stylesheet"/>

		<!-- zeroclipboard library -->
		<script src="/js/jquery/ZeroClipboard.min.js"></script>

		<!-- custom fields library -->
		<script src="/js/controller/customFields.js"></script>

	</head>
<body>

    <!-- Fixed Top Navigation Bar -->
	<% include ../layout/top-navbar.html %>

	<div class="container">

		<!-- Navigator bar to display current store of floor of specific area -->
		<ol class="breadcrumb">
		  <li><a href="/user"><%= __("navbar.buildings") %></a></li>
		  <li class="ng-hide" ng-hide="loadingPoi">
		  	<a href="/building/show/{{building._id}}">
				<span class="glyphicon glyphicon-globe"></span>
				<span ng-bind="building.name"></span>
		  	</a>
		  </li>	
		  <li class="active ng-hide" ng-hide="loadingPoi">
		  	<span class="glyphicon glyphicon-pushpin"></span>
		  	<span ng-bind="poi.name"></span>
		  </li>	  
		</ol>

		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron">

			<!-- Area basic info display and editor -->
			<div class="row display-block" style="padding:10px 13px;">
				
				<!-- Loading -->
				<div class="loading" ng-show="loadingPoi">&nbsp;<img src="/img/loading.gif" alt="loading.."/></div>

				<!-- ID ,name and building binding block -->
				<div class="col-xs-12 col-sm-12 col-md-12 ng-hide" style="padding:15px 5px;" ng-hide="loadingPoi">
					<div class="ng-hide" ng-hide="loadingPoi" style="text-align:left;">
						<!-- ID -->
						<span id="poiId" ng-bind="poi._id" data-clipboard-text="{{poi._id}}" data-toggle="tooltip" data-placement="top" class="label label-primary"></span>

						<!-- Add poi dialog and trigger button -->
						<a href="/poi/event/index?poiId={{poi._id}}" class="btn btn-default" style="margin-left:30px;">
							<span class="glyphicon glyphicon-calendar"></span>
							<span style="float:right;"><%= __('poi.event.calendar') %></span>
						</a>

						<hr/>					    
						<!-- Name -->
						<div class="poi-title"><%= __('poi.fields.name') %></div>
						<div class="nameDisplayBlock" style="display:inline;">							
							<span ng-bind="poi.name" ng-click="toogleNameBlock(0)"></span>
						</div>
						<div class="nameEditBlock" style="display:none;">
							<input class="form-control col-xs-11 col-sm-12 col-md-3" style="width:150px" ng-model="poi.name"/>
							<span class="nameButtonSave glyphicon glyphicon-floppy-disk" ng-click="update()"></span>
							<span class="nameButtonCancel glyphicon glyphicon-ban-circle" ng-click="cancelUpdate()"></span>
						</div>
					</div>
				</div>
				<hr/>		
				
				<!-- Tags -->
				<div class="col-xs-12 col-sm-12 col-md-12 ng-hide" style="padding:15px 5px;" ng-hide="loadingPoi">
					<input id="poi-tag-input" type="text" name="poiTags" class="tm-input tm-input-success form-control" 
					placeholder="Add tag"/>
					<!-- buttons -->
					<span class="tagsButtonSave glyphicon glyphicon-floppy-disk" ng-click="tagSave($event)"></span>
					<span class="tagsButtonCancel glyphicon glyphicon-ban-circle" ng-click="tagCancel($event)"></span>
				</div>
				<hr/>

				<!-- Custom fields -->
				<div class="col-xs-12 col-sm-12 col-md-12 ng-hide" style="padding:15px 5px;" ng-hide="loadingPoi" id="customFieldsWrapper">

					<!-- Create buuton and type menu(entry point) -->
					<div>
						<!-- Create button --> 
						<span id="customFieldsCreateButton" class="glyphicon glyphicon-plus" ng-click="cfg.toogleTypeMenu()"></span>
						
						<!-- Button groups of field type -->
						<div class="btn-group" style="display:none" id="customFieldsTypeMenu">
						  <button id="customFieldsText" type="button" class="btn btn-default">
						  	<%= __("poi.types.text") %>
						  </button>
						  <button id="customFieldsLink" type="button" class="btn btn-default">
						  	<%= __("poi.types.link") %>
						  </button>
						  <button id="customFieldsImage" type="button" class="btn btn-default">
						  	<%= __("poi.types.image") %>
						  </button>
						  <button id="customFieldsVideo" type="button" class="btn btn-default">
						  	<%= __("poi.types.video") %>
						  </button>
						  <button id="customFieldsAudio" type="button" class="btn btn-default">
						  	<%= __("poi.types.audio") %>
						  </button>
						  <button id="customFieldsFile" type="button" class="btn btn-default">
						  	<%= __("poi.types.file") %>
						  </button>		
						</div>
					</div>

					<!-- Custom fields display -->
					<div id="customFieldsDisplayArea">						
						<div ng-repeat="field in poi.customFields" >
						
							<!-- template of field of text type -->	
							<div class="templateCustomField bg-info" ng-if="field.type == 1">
								<!-- Display Block -->
								<div class="templateCustomFieldsDisplay">
									<!-- fields -->
									<div class="customFieldsKey col-xs-11 col-sm-12 col-md-3" ng-bind="field.key" ng-click="cfg.toggleMultipleLineMode($event, 0, field)"></div>
									<div class="customFieldsValue col-xs-11 col-sm-12 col-md-7" ng-bind-html="field.value" ng-click="cfg.toggleMultipleLineMode($event, 0, field)"></div>
									<!-- buttons -->
									<span class="customFieldsButtonEdit glyphicon glyphicon-edit" ng-click="cfg.toggleMultipleLineMode($event, 0, field)"></span>
									<span class="customFieldsButtonRemove glyphicon glyphicon-remove" ng-click="cfg.removeField($index)"></span>
								</div>
								<!-- Edit Block -->
								<div class="templateCustomFieldsEdit">
									<!-- fields -->
									<input class="customFieldsKey col-xs-11 col-sm-12 col-md-3" ng-model="field.key" name="fieldKey"/>
									<textarea class="customFieldsValue col-xs-11 col-sm-12 col-md-7" ng-model="field.value"></textarea>
									<!-- buttons -->
									<span class="customFieldsButtonSave glyphicon glyphicon-floppy-disk" ng-click="cfg.updateField($event)"></span>
									<span class="customFieldsButtonCancel glyphicon glyphicon-ban-circle" ng-click="cfg.toggleMultipleLineMode($event, 1, field)"></span>
									<!-- error msg -->
									<div class="alert alert-danger error-msg">
										<span class="label label-danger"><%= __("error.title") %></span> <span class="errorText"></span>
									</div>									
								</div>
								<div style="float:left;clear:both;"></div>
							</div>

							<!-- template of create link -->
							<div class="templateCustomField bg-info" ng-if="field.type == '2'">
								<!-- Display Block -->
								<div class="templateCustomFieldsDisplay">
									<!-- fields -->
									<div class="customFieldsValue col-xs-11 col-sm-11 col-md-10">
										<a href="{{field.value}}" target="_blank" ng-bind="field.key"></a>
									</div>
									<!-- buttons -->
									<span class="customFieldsButtonEdit glyphicon glyphicon-edit"></span>
									<span class="customFieldsButtonRemove glyphicon glyphicon-remove" ng-click="cfg.removeField($index)"></span>
								</div>
								<!-- Edit Block -->
								<div class="templateCustomFieldsEdit">
									<!-- fields -->
									<input class="customFieldsKey col-xs-11 col-sm-12 col-md-3" ng-model="field.key" name="fieldKey"/>
									<input class="customFieldsValue col-xs-11 col-sm-12 col-md-7" ng-model="field.value"/>
									<!-- buttons -->
									<span class="customFieldsButtonSave glyphicon glyphicon-floppy-disk" ng-click="cfg.updateField($event)"></span>									
									<span class="customFieldsButtonCancel glyphicon glyphicon-ban-circle" ng-click="cfg.cancelField()"></span>
									<!-- error msg -->
									<div class="alert alert-danger error-msg">
										<span class="label label-danger"><%= __("error.title") %></span> <span class="errorText"></span>
									</div>									
								</div>
								<div style="float:left;clear:both;"></div>
							</div>	

							<!-- template of create image -->						
							<div class="templateCustomField bg-info" ng-if="field.type == '3'">
								<!-- Display Block -->
								<div class="templateCustomFieldsDisplay">
									<!-- fields -->
									<div class="customFieldsKey cimage col-xs-11 col-sm-12 col-md-10">
										<span class="glyphicon glyphicon-picture"></span>
										<span ng-bind="field.key"></span>	
										<img ng-src="/poi/getFile?filePath={{field.value}}&type={{field.type}}" width=150 alt="Image" />
									</div>														<!-- buttons -->
									<span class="customFieldsButtonEdit glyphicon glyphicon-edit"></span>
									<span class="customFieldsButtonRemove glyphicon glyphicon-remove" ng-click="cfg.removeField($index)"></span>
								</div>
								<!-- Edit Block -->
								<div class="templateCustomFieldsEdit">
									<!-- fields -->
									<form action="/poi/uploadFile" method="POST" enctype="multipart/form-data">
										<input type="hidden" name="_id" value="{{poi._id}}"/>
										<input type="hidden" name="type" value="{{field.type}}"/>
										<input type="hidden" name="fieldId" value="{{field._id}}"/>
										<input class="customFieldsKey col-xs-11 col-sm-12 col-md-3" ng-model="field.key" name="fieldKey"/>
										<div class="customFieldsValue cimage col-xs-11 col-sm-12 col-md-7" style="background:url() no-repeat;background-position:center top; height:300px;">
											<input type="file" placeholder="Image" name="file"/>
										</div>																		
									</form>
									<!-- buttons -->
									<span class="customFieldsButtonSave glyphicon glyphicon-floppy-disk" ng-click="cfg.submitPoiFile($event, field)"></span>
									<span class="customFieldsButtonCancel glyphicon glyphicon-ban-circle" ng-click="cfg.cancelField()"></span>
									<!-- error msg -->
									<div class="alert alert-danger error-msg">
										<span class="label label-danger"><%= __("error.title") %></span> <span class="errorText"></span>
									</div>									
								</div>
								<div style="float:left;clear:both;"></div>
							</div>

							<!-- template of create video -->
							<div class="templateCustomField bg-info" ng-if="field.type == 4">
								<!-- Display Block -->
								<div class="templateCustomFieldsDisplay">

									<!-- fields -->
									<div class="customFieldsKey cvideo col-xs-11 col-sm-12 col-md-10">
										<span class="glyphicon glyphicon-film"></span>
										<span ng-bind="field.key"></span>
										<video controls style="overflow:auto;padding:0px; margin: 0px auto;">
										     <source src="" dynamic-url dynamic-url-src="/poi/getFile?filePath={{field.value}}&type={{field.type}}" type="video/mp4">
										 </video>
									</div>														
									<!-- buttons -->
									<span class="customFieldsButtonEdit glyphicon glyphicon-edit"></span>
									<span class="customFieldsButtonRemove glyphicon glyphicon-remove" ng-click="cfg.removeField($index)"></span>
								</div>
								<!-- Edit Block -->
								<div class="templateCustomFieldsEdit">
									<!-- fields -->
									<form action="/poi/uploadFile" method="POST" enctype="multipart/form-data">
										<input type="hidden" name="_id" value="{{poi._id}}"/>
										<input type="hidden" name="type" value="{{field.type}}"/>
										<input type="hidden" name="fieldId" value="{{field._id}}"/>					
										<input class="customFieldsKey col-xs-11 col-sm-12 col-md-3" ng-model="field.key" name="fieldKey"/>
										<div class="customFieldsValue col-xs-11 col-sm-12 col-md-7">
											<input type="file" placeholder="File" name="file"/>
										</div>
									</form>
									<!-- buttons -->
									<span class="customFieldsButtonSave glyphicon glyphicon-floppy-disk" data-loading-text="Loading..." ng-click="cfg.submitPoiFile($event, field)"></span>
									<span class="customFieldsButtonCancel glyphicon glyphicon-ban-circle" ng-click="cfg.cancelField()"></span>
									<!-- error msg -->
									<div class="alert alert-danger error-msg">
										<span class="label label-danger"><%= __("error.title") %></span> <span class="errorText"></span>
									</div>									
								</div>
								<div style="float:left;clear:both;"></div>
							</div>

							<!-- template of create audio -->
							<div class="templateCustomField bg-info" ng-if="field.type == 5">
								<!-- Display Block -->
								<div class="templateCustomFieldsDisplay">
									<!-- fields -->
									<div class="customFieldsKey col-xs-11 col-sm-12 col-md-10">
										<span class="glyphicon glyphicon-music"></span>
										<span ng-bind="field.key"></span>										
										<audio controls>
										  <source src="" dynamic-url dynamic-url-src="/poi/getFile?filePath={{field.value}}&type={{field.type}}" type="audio/mpeg"/>			
										</audio>
									</div>														
									<!-- buttons -->
									<span class="customFieldsButtonEdit glyphicon glyphicon-edit"></span>
									<span class="customFieldsButtonRemove glyphicon glyphicon-remove" ng-click="cfg.removeField($index)"></span>
								</div>
								<!-- Edit Block -->
								<div class="templateCustomFieldsEdit">
									<!-- fields -->
									<form action="/poi/uploadFile" method="POST" enctype="multipart/form-data">
										<input type="hidden" name="_id" value="{{poi._id}}"/>
										<input type="hidden" name="type" value="{{field.type}}"/>
										<input type="hidden" name="fieldId" value="{{field._id}}"/>
										<input class="customFieldsKey col-xs-11 col-sm-12 col-md-3" ng-model="field.key" name="fieldKey"/>
										<div class="customFieldsValue col-xs-11 col-sm-12 col-md-7">
											<input type="file" placeholder="File" name="file"/>
										</div>
									</form>
									<!-- buttons -->
									<span class="customFieldsButtonSave glyphicon glyphicon-floppy-disk" data-loading-text="Loading..." ng-click="cfg.submitPoiFile($event, field)"></span>
									<span class="customFieldsButtonCancel glyphicon glyphicon-ban-circle" ng-click="cfg.cancelField()"></span>
									<!-- error msg -->
									<div class="alert alert-danger error-msg">
										<span class="label label-danger"><%= __("error.title") %></span> <span class="errorText"></span>
									</div>
								</div>
								<div style="float:left;clear:both;"></div>
							</div>

							<!-- template of create file -->
							<div class="templateCustomField bg-info" ng-if="field.type == 6">
								<!-- Display Block -->
								<div class="templateCustomFieldsDisplay">
									<!-- fields -->
									<div class="customFieldsKey col-xs-11 col-sm-12 col-md-10">
										<a href="/poi/getFile?filePath={{field.value}}&type={{field.type}}"/>
											<span class="glyphicon glyphicon-download"></span>
											<span ng-bind="field.key"></span>
										</a>										
									</div>														
									<!-- buttons -->
									<span class="customFieldsButtonEdit glyphicon glyphicon-edit"></span>
									<span class="customFieldsButtonRemove glyphicon glyphicon-remove" ng-click="cfg.removeField($index)"></span>
								</div>
								<!-- Edit Block -->
								<div class="templateCustomFieldsEdit">
									<!-- fields -->
									<form action="/poi/uploadFile" method="POST" enctype="multipart/form-data">
										<input type="hidden" name="_id" value="{{poi._id}}"/>
										<input type="hidden" name="type" value="{{field.type}}"/>
										<input type="hidden" name="fieldId" value="{{field._id}}"/>
										<input class="customFieldsKey col-xs-11 col-sm-12 col-md-3" ng-model="field.key" name="fieldKey"/>
										<div class="customFieldsValue col-xs-11 col-sm-12 col-md-7">
											<input type="file" placeholder="File" name="file"/>
										</div>
									</form>
									<!-- buttons -->
									<span class="customFieldsButtonSave glyphicon glyphicon-floppy-disk" ng-click="cfg.submitPoiFile($event, field)"></span>
									<span class="customFieldsButtonCancel glyphicon glyphicon-ban-circle" ng-click="cfg.cancelField()"></span>
									<!-- error msg -->
									<div class="alert alert-danger error-msg">
										<span class="label label-danger"><%= __("error.title") %></span> <span class="errorText"></span>
									</div>									
								</div>
								<div style="float:left;clear:both;"></div>
						</div>
					</div>
							</div>

				</div>	

			</div>
			<hr/>

		</div>

	</div>
	<!-- /container -->
	
	<!-- Loading Dialog -->
	<% include ../layout/loading-dialog.html %>

	<!-- Body library include -->
	<% include ../layout/body-include.html	%>
		
    <!-- Controller -->
    <script src="/js/controller/poiContrl.js"></script>
    <script src="/js/controller/poiEventContrl.js"></script>	

  </body>
</html>
