<!-- Poi List include in page 'area/area-show.html' -->
<div id="poi-list" class="tab-pane" ng-controller="PoiListCtrl">

	<!-- POI copy area -->
	<div style="float:right; maring-right:300px;">
		<!-- POI copies -->
		<% include ../poi/poi-copies.html %>

		<!-- POI template copies -->
		<% include ../poi/poi-template-copies.html %>
	</div>

	<!-- Add store dialog and trigger button -->
	<% include ../poi/poi-add.html %>

	<!-- Content (relative for loading icon) -->
	<div class="panel-body" style="position:relative;">

		<!-- Loading -->
		<div class="loading" ng-show="loadingPoi">&nbsp;<img src="/img/loading.gif" alt="loading.."/></div>	

		<!-- Title and total count -->
		<div class="ng-hide" ng-hide="loadingPoi">
			<h4 style="display:inline;"><%= __('poi.list.pois') %></h4>
			<h4 style="display:inline;"><%= __('poi.list.totalCount') %><span ng-bind="pois.length"></span></h4>
		</div>

		<!-- POI list -->
		<div class="belement ng-hide" ng-repeat="poi in pois" ng-mouseenter="showRemoveButton($event)" ng-mouseleave="hideRemoveButton($event)" ng-hide="loadingPoi">
			<span class="glyphicon glyphicon-remove remove-button-list" ng-click="deleteDialogSetup($event)"></span>				
			<a href="/poi/show/{{poi._id}}">
				<img src="/img/poi.png" alt="Image Icon" class="default-icon"/>
				<span ng-bind="poi.name"></span>				
			</a>
			<br/>
			<span class="label label-primary copy" data-toggle="tooltip" data-placement="bottom" ng-click="copyPoi($event)"><%= __('buttons.copy') %></span>
			<span class="label label-warning copy-template" data-toggle="tooltip" data-placement="bottom" ng-click="copyPoiTemplate($event)"><%= __('buttons.copyTemplate') %></span>
			
		</div>
	</div>

	<div id="pagination"></div>
	
	<!-- Delete Confirm Dialog -->
	<% include ../poi/delete-confirm-dialog.html %>	

    <!-- Controller -->
    <script src="/js/controller/poiContrl.js"></script>
    

</div>