<!-- POI event update dialog include in poi/poi-event-index.html -->
<div class="modal fade" id="update-poi-event-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Header -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><%= __('poi.event.update.title') %></h4>				
			</div>

			<!-- Body -->
			<div class="modal-body">
				<div class="form-group">
					<label for="poi-event-update-title"><%= __('poi.event.fields.title') %></label>
					<input id="poi-event-update-title" class="form-control" placeholder="<%= __('poi.event.fields.title') %>" name="title" ng-model="selectedEvent.title" maxlength="250" />
				</div>
				<div class="form-group">
					<label for="poi-event-update-desc"><%= __('poi.event.fields.desc') %></label>
					<textarea id="poi-event-update-desc" class="form-control" placeholder="<%= __('poi.event.fields.desc') %>" name="desc" ng-model="selectedEvent.desc" maxlength="500"></textarea>
				</div>
				<div class="form-group">
					<label for="updateStartTimeHour"><%= __('poi.event.fields.startTime') %></label>
					<select class="form-control" id="updateStartTimeHour" name="startTimeHour" ng-model="selectedEvent.startTimeHour">
						<option value="0">00</option>				
						<option value="1">01</option>
						<option value="2">02</option>
						<option value="3">03</option>
						<option value="4">04</option>
						<option value="5">05</option>
						<option value="6">06</option>
						<option value="7">07</option>
						<option value="8">08</option>
						<option value="9">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
					</select>
					<span>&nbsp;:&nbsp;</span>
					<select  class="form-control" name="startTimeMin" ng-model="selectedEvent.startTimeMin">
						<option value="0">00</option>				
						<option value="1">01</option>
						<option value="2">02</option>
						<option value="3">03</option>
						<option value="4">04</option>
						<option value="5">05</option>
						<option value="6">06</option>
						<option value="7">07</option>
						<option value="8">08</option>
						<option value="9">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
						<option value="32">32</option>
						<option value="33">33</option>
						<option value="34">34</option>
						<option value="35">35</option>
						<option value="36">36</option>	
						<option value="37">37</option>	
						<option value="38">38</option>	
						<option value="39">39</option>	
						<option value="40">40</option>	
						<option value="41">41</option>	
						<option value="42">42</option>	
						<option value="43">43</option>	
						<option value="44">44</option>	
						<option value="45">45</option>	
						<option value="46">46</option>	
						<option value="47">47</option>								
						<option value="48">48</option>								
						<option value="49">49</option>								
						<option value="50">50</option>								
						<option value="51">51</option>								
						<option value="52">52</option>								
						<option value="53">53</option>								
						<option value="54">54</option>								
						<option value="55">55</option>
						<option value="56">56</option>
						<option value="57">57</option>
						<option value="58">58</option>
						<option value="59">59</option>					
					</select>
					<hr/>
					<label for="updateEndTimeHour"><%= __('poi.event.fields.endTime') %></label>			
					<select  class="form-control" id="updateEndTimeHour" name="endTimeHour" ng-model="selectedEvent.endTimeHour" disabled>
						<option value="0">00</option>				
						<option value="1">01</option>
						<option value="2">02</option>
						<option value="3">03</option>
						<option value="4">04</option>
						<option value="5">05</option>
						<option value="6">06</option>
						<option value="7">07</option>
						<option value="8">08</option>
						<option value="9">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
					</select>
					<span>&nbsp;:&nbsp;</span>
					<select  class="form-control" name="endTimeMin" ng-model="selectedEvent.endTimeMin" disabled>
						<option value="0">00</option>				
						<option value="1">01</option>
						<option value="2">02</option>
						<option value="3">03</option>
						<option value="4">04</option>
						<option value="5">05</option>
						<option value="6">06</option>
						<option value="7">07</option>
						<option value="8">08</option>
						<option value="9">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
						<option value="32">32</option>
						<option value="33">33</option>
						<option value="34">34</option>
						<option value="35">35</option>
						<option value="36">36</option>	
						<option value="37">37</option>	
						<option value="38">38</option>	
						<option value="39">39</option>	
						<option value="40">40</option>	
						<option value="41">41</option>	
						<option value="42">42</option>	
						<option value="43">43</option>	
						<option value="44">44</option>	
						<option value="45">45</option>	
						<option value="46">46</option>	
						<option value="47">47</option>								
						<option value="48">48</option>								
						<option value="49">49</option>								
						<option value="50">50</option>								
						<option value="51">51</option>								
						<option value="52">52</option>								
						<option value="53">53</option>								
						<option value="54">54</option>								
						<option value="55">55</option>
						<option value="56">56</option>
						<option value="57">57</option>
						<option value="58">58</option>
						<option value="59">59</option>					
					</select>						
				</div>
				<div class="alert alert-danger error-msg">
					<span class="label label-danger"><%= __('error.title') %></span>
					<span class="errorText"></span>
				</div>	
			</div>	

			<!-- Footer -->
			<div class="modal-footer">		
				<button type="button" class="btn btn-default" data-dismiss="modal"><%= __('buttons.close') %></button>
				<button type="submit" class="btn btn-primary" data-loading-text="<%= __('buttons.updating') %>" ng-click="updatePoiEvent($event)"><%= __('buttons.update') %></button>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

$(document).ready(function(){

	var currentDialog = $("#update-poi-event-dialog");

	// Reset all fields while show
	currentDialog.on("show.bs.modal", function() {
		$(this).find('input').val("");
		$(this).find('textarea').val("");
		$(this).find('select option').removeAttr("disabled");				
		$(this).find('select option:selected').removeAttr("selected");		
		$(this).find("select[name='endTimeHour']").attr("disabled", true);
		$(this).find("select[name='endTimeMin']").attr("disabled", true);
	});


	// Setup poi add dialog ui component 	
	startTimeControl.call(currentDialog, "update");
});

 </script>


