<!-- POI copies include in area/area-list.html -->
<div class="dropdown ng-hide" id="copy-poi-dropdown" ng-show="copyPoiList.length > 0">
  <a data-toggle="dropdown" href="#" id="copy-poi-trigger-button" style="text-decoration: none;">
  	<span class="label label-primary copy">Copied POIs</span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	<div id="poi-copies">
		<div ng-repeat="poi in copyPoiList" class="copy-poi" id="copy-{{poi._id}}">		
			<img ng-src="{{poi.icon}}" alt="Image Icon" class="icon"/>
			<div class="content">
				<span>{{poi.name}}</span><span>(full copy)</span><br/>
				<span>{{poi._id}}</span><br/>
				<button type="button" class="btn btn-defult btn-xs" ng-show="isAreaShowPage" ng-click="copyPoiHere($event, poi)">Copy to here</button>
				<button type="button" class="btn btn-danger btn-xs" ng-click="removeCopyPoi($event, poi, $index)">Remove</button>				
			</div>
		</div>
	</div>	
</div>		
  </ul>

<script>
	$(document).on("mouseenter", ".copy-poi:not(.initiated)", function(){
		$(this).draggable({
			revert: "invalid",
			helper: "clone",
			cursor: "move",
			containment: "document",
		}).addClass("initiated");
	});
	$("#copy-poi-dropdown").draggable();
</script>