<!DOCTYPE html>
<html lang="en" ng-app="sails-admin" ng-controller='BuildingShowCtrl'>
  <head>
  
	<!-- Head meta, css or library include -->
	<% include ../../layout/head-include.html %>
		

	<!-- admin page css -->	
	<link href="/stylesheets/style-admin.css" rel="stylesheet">

	<!-- Title -->
    <title>Building</title>

  </head>

  <body>

    <!-- Fixed Top Navigation Bar Template -->
	<% include ../../layout/top-navbar.html %>



	<!-- Main Container -->
    <div class="container">

		<div class="jumbotron">

			<!-- left navigation bar -->
			<% include ../layout/left-navbar.html %>
			
			<div style="padding-left:230px;">

				<!-- Building info -->
				<div class="panel panel-default">	
					<div class="panel-heading">Building - {{building._id}}</div>
					<table class="table">
						<thead>
							<th>name</th>
						</thead>
						<tbody>
							<tr id="{{building._id}}">				
								<td ng-bind="building.name"></td>
								<td>
									<a data-toggle="modal" class="btn btn-default" href="#building-edit-dialog" 
										ng-click="selectBuilding(building)">
										<span class="glyphicon glyphicon-edit"></span>
									</a>					
								</td>						
								<td>
									<a data-toggle="modal" class="btn btn-default" href="delete-confirm-dialog" 
										ng-click="selectBuilding(building)">
										<span class="glyphicon glyphicon-remove"></span>
									</a>					
								</td>										
							</tr>
						</tbody>			
					</table>		
				</div>


				<!-- Floor List of building -->
				<div class="panel panel-default" ng-controller='FloorListCtrl'>	
					<div class="panel-heading">Up Floors</div>
					
					<!-- Up Floor -->
					<table class="table">
						<thead>
							<th>_id</th>
							<th>name</th>
							<th>desc</th>				
							<th>layer</th>
							<th>map</th>
							<th>path</th>
							<th>render</th>
							<th>region</th>
							<th>mapzip</th>
							<th>applist</th>
							<th>buildingId</th>
							<th>lastXmlUpdateTime</th>																			
						</thead>
						<tbody>
							<tr ng-repeat="floor in floorUp" id="{{floor._id}}">				
								<td>
									<a href="/admin/floor/show/{{floor._id}}" ng-bind="floor._id"></a>
								</td>
								<td ng-bind="floor.name"></td>
								<td ng-bind="floor.desc"></td>					
								<td ng-bind="floor.layer"></td>
								<td ng-bind="floor.map"></td>
								<td ng-bind="floor.path"></td>
								<td ng-bind="floor.render"></td>
								<td ng-bind="floor.region"></td>
								<td ng-bind="floor.mapzip"></td>
								<td ng-bind="floor.applist"></td>
								<td ng-bind="floor.buildingId"></td>
								<td ng-bind="floor.lastXmlUpdateTime"></td>
								<td>
									<a data-toggle="modal" class="btn btn-default" href="#floor-edit-dialog" 
										ng-click="selectBuilding(floor)">
										<span class="glyphicon glyphicon-edit"></span>
									</a>					
								</td>						
								<td>
									<a data-toggle="modal" class="btn btn-default" href="delete-confirm-dialog" 
										ng-click="selectBuilding(floor)">
										<span class="glyphicon glyphicon-remove"></span>
									</a>					
								</td>										
							</tr>
						</tbody>			
					</table>
								
				</div>

				<!-- Floor List of building -->
				<div class="panel panel-default" ng-controller='FloorListCtrl'>	
					<div class="panel-heading">Down Floors</div>
					
					<!-- Up Floor -->
					<table class="table">
						<thead>
							<th>_id</th>
							<th>name</th>
							<th>desc</th>				
							<th>layer</th>
							<th>map</th>
							<th>path</th>
							<th>render</th>
							<th>region</th>
							<th>mapzip</th>
							<th>applist</th>
							<th>buildingId</th>
							<th>lastXmlUpdateTime</th>																			
						</thead>
						<tbody>
							<tr ng-repeat="floor in floorDown" id="{{floor._id}}">				
								<td ng-bind="floor._id"></td>
								<td ng-bind="floor.name"></td>
								<td ng-bind="floor.desc"></td>					
								<td ng-bind="floor.layer"></td>
								<td ng-bind="floor.map"></td>
								<td ng-bind="floor.path"></td>
								<td ng-bind="floor.render"></td>
								<td ng-bind="floor.region"></td>
								<td ng-bind="floor.mapzip"></td>
								<td ng-bind="floor.applist"></td>
								<td ng-bind="floor.buildingId"></td>
								<td ng-bind="floor.lastXmlUpdateTime"></td>
								<td>
									<a data-toggle="modal" class="btn btn-default" href="#floor-edit-dialog" 
										ng-click="selectBuilding(floor)">
										<span class="glyphicon glyphicon-edit"></span>
									</a>					
								</td>						
								<td>
									<a data-toggle="modal" class="btn btn-default" href="delete-confirm-dialog" 
										ng-click="selectBuilding(floor)">
										<span class="glyphicon glyphicon-remove"></span>
									</a>					
								</td>										
							</tr>
						</tbody>			
					</table>
								
				</div>				

			</div>	

		</div>

	</div>	

	<!-- Edit and Delete Dialog -->
	<% include ../floor/floor-edit-dialog.html %>
	<% include ../../layout/delete-confirm-dialog.html %>	

	<!-- Body library include -->
	<% include ../../layout/body-include.html %>

    <!-- Controller -->
	<script src="/js/admin/controller/app.js"></script>        
    <script src="/js/admin/controller/buildingContrl.js"></script>
    <script src="/js/admin/controller/floorContrl.js"></script>


  </body>

</html>