<!-- Floor edit dialog include -->
<div class="modal fade" id="floor-edit-dialog" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller='FloorListCtrl'>
   <div class="modal-dialog">
     <div class="modal-content">

		<!-- Header -->
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelUpdateFloor()">&times;</button>
			<h4 class="modal-title">Edit Floor</h4>
			<p>Please kindly finish following fields of this floor.</p>
		</div>
		
		<!-- Body -->
		<div class="modal-body">
			<div class="form-group">
				<label for="name">_id</label><div ng-bind="selectedFloor._id"></div>
			</div>
			<div class="form-group">
				<label for="phone">name</label> 
				<input class="form-control" placeholder="Name" name="name" maxlength="15" ng-model="selectedFloor.name">
			</div>
			<div class="form-group">
				<label for="type">desc</label> 
				<textarea class="form-control" placeholder="Description" name="desc" maxlength="100" ng-model="selectedFloor.desc"></textarea>
			</div>
			
			<!-- error msg -->
			<div class="alert alert-danger error-msg">
				<span class="label label-danger">Error</span> <span
					class="errorText"></span>
			</div>

		</div>

		<button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:400px;" ng-click="cancelUpdateFloor()">Close</button>
		<button type="submit" class="btn btn-primary" data-loading-text="Updating" ng-click="updateFloor($event, selectedFloor)">Update</button>
		<hr>

		<!-- Upload map.xml -->
		<div class="modal-body">
			<form name="form" action="/admin/floor/uploadMap" method="POST" enctype="multipart/form-data">
				<input type="hidden" class="form-control" name="_id" value="{{selectedFloor._id}}">
				<label for="map">Upload Map File</label>
				<input type="file" class="form-control upload-file" name="map">							
				<div class="alert alert-danger error-msg">
					<span class="label label-danger">Error</span> <span class="errorText"></span>
				</div>
			</form>
			<button class="btn btn-md btn-primary" ng-click="uploadFile($event, selectedFloor, 'map')"　data-loading-text="Uploading..." 
				style="margin:20px 0px 0px 450px;">Upload</button>
			<hr>			
		</div>		

		<!-- Upload path.xml -->
		<div class="modal-body">
			<form name="form" action="/admin/floor/uploadPath" method="POST" enctype="multipart/form-data">
				<input type="hidden" class="form-control" name="_id" value="{{selectedFloor._id}}">
				<label for="map">Upload Path File</label>
				<input type="file" class="form-control upload-file" name="path">							
				<div class="alert alert-danger error-msg">
					<span class="label label-danger">Error</span> <span class="errorText"></span>
				</div>
			</form>
			<button class="btn btn-md btn-primary" ng-click="uploadFile($event, selectedFloor, 'path')"　data-loading-text="Uploading..." 
				style="margin:20px 0px 0px 450px;">Upload</button>
			<hr>			
		</div>

		<!-- Upload render.xml -->
		<div class="modal-body">
			<form name="form" action="/admin/floor/uploadRender" method="POST" enctype="multipart/form-data">
				<input type="hidden" class="form-control" name="_id" value="{{selectedFloor._id}}">
				<label for="map">Upload Render File</label>
				<input type="file" class="form-control upload-file" name="render">							
				<div class="alert alert-danger error-msg">
					<span class="label label-danger">Error</span> <span class="errorText"></span>
				</div>
			</form>
			<button class="btn btn-md btn-primary" ng-click="uploadFile($event, selectedFloor, 'render')"　data-loading-text="Uploading..." 
				style="margin:20px 0px 0px 450px;">Upload</button>
			<hr>			
		</div>

		<!-- Upload region.xml -->
		<div class="modal-body">
			<form name="form" action="/admin/floor/uploadRegion" method="POST" enctype="multipart/form-data">
				<input type="hidden" class="form-control" name="_id" value="{{selectedFloor._id}}">
				<label for="map">Upload Region File</label>
				<input type="file" class="form-control upload-file" name="region">							
				<div class="alert alert-danger error-msg">
					<span class="label label-danger">Error</span> <span class="errorText"></span>
				</div>
			</form>
			<button class="btn btn-md btn-primary" ng-click="uploadFile($event, selectedFloor, 'region')"　data-loading-text="Uploading..." 
				style="margin:20px 0px 0px 450px;">Upload</button>
			<hr>			
		</div>

		<!-- Upload mapzip.xml -->
		<div class="modal-body">
			<form name="form" action="/admin/floor/uploadMapzip" method="POST" enctype="multipart/form-data">
				<input type="hidden" class="form-control" name="_id" value="{{selectedFloor._id}}">
				<label for="map">Upload Mapzip File</label>
				<input type="file" class="form-control upload-file" name="mapzip">							
				<div class="alert alert-danger error-msg">
					<span class="label label-danger">Error</span> <span class="errorText"></span>
				</div>
			</form>
			<button class="btn btn-md btn-primary" ng-click="uploadFile($event, selectedFloor, 'mapzip')"　data-loading-text="Uploading..." 
				style="margin:20px 0px 0px 450px;">Upload</button>
			<hr>			
		</div>

		<!-- Upload applist.xml -->
		<div class="modal-body">
			<form name="form" action="/admin/floor/uploadAplist" method="POST" enctype="multipart/form-data">
				<input type="hidden" class="form-control" name="_id" value="{{selectedFloor._id}}">
				<label for="map">Upload Aplist File</label>
				<input type="file" class="form-control upload-file" name="aplist">							
				<div class="alert alert-danger error-msg">
					<span class="label label-danger">Error</span> <span class="errorText"></span>
				</div>
			</form>
			<button class="btn btn-md btn-primary" ng-click="uploadFile($event, selectedFloor, 'applist')"　data-loading-text="Uploading..." 
				style="margin:20px 0px 0px 450px;">Upload</button>
			<hr>			
		</div>


     </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->