<!DOCTYPE html>
<html lang="en" ng-app="sails-admin" ng-controller='FloorShowCtrl'>
  <head>
  
	<!-- Head meta, css or library include -->
	<% include ../../layout/head-include.html %>
		

	<!-- admin page css -->	
	<link href="/stylesheets/style-admin.css" rel="stylesheet">

	<!-- Title -->
    <title>Floor - {{floor._id}}</title>

  </head>

  <body>

    <!-- Fixed Top Navigation Bar Template -->
	<% include ../../layout/top-navbar.html %>



	<!-- Main Container -->
    <div class="container">

		<div class="jumbotron">

			<!-- left navigation bar -->
			<% include ../layout/left-navbar.html %>
			
			<div style="padding-left:230px;">

				<!-- Floor info -->
				<div class="panel panel-default">	
					<div class="panel-heading">Floor - {{floor._id}}</div>
					<table class="table">
						<thead>
							<th>name</th>
							<th>desc</th>				
							<th>layer</th>
							<th>map</th>
							<th>path</th>
							<th>render</th>
							<th>region</th>
							<th>mapzip</th>
							<th>applist</th>
							<th>buildingId</th>
							<th>lastXmlUpdateTime</th>
							<th></th>																		
						</thead>
						<tbody>
							<tr id="{{floor._id}}">				
								<td ng-bind="floor.name"></td>
								<td ng-bind="floor.desc"></td>					
								<td ng-bind="floor.layer"></td>
								<td ng-bind="floor.map"></td>
								<td ng-bind="floor.path"></td>
								<td ng-bind="floor.render"></td>
								<td ng-bind="floor.region"></td>
								<td ng-bind="floor.mapzip"></td>
								<td ng-bind="floor.applist"></td>
								<td ng-bind="floor.buildingId"></td>
								<td ng-bind="floor.lastXmlUpdateTime"></td>
								<td>
									<a data-toggle="modal" class="btn btn-default" href="#floor-edit-dialog" 
										ng-click="selectBuilding(floor)">
										<span class="glyphicon glyphicon-edit"></span>
									</a>					
								</td>									
							</tr>
						</tbody>		
					</table>

				</div>
	

				<!-- Store List of floor -->
				<div class="panel panel-default" ng-controller='StoreListCtrl'>	
					<div class="panel-heading">Stores</div>
					
					<table class="table">
						<thead>
							<th>_id</th>
							<th>name</th>
							<th>icon</th>				
							<th>link</th>
							<th>phone</th>
							<th>memo</th>
							<th>floorId</th>
							<th></th>
							<th></th>
						</thead>
						<tbody>
							<tr ng-repeat="store in stores" id="{{store._id}}">				
								<td>
									<a href="/admin/store/show/{{store._id}}" ng-bind="store._id"></a>
								</td>
								<td ng-bind="store.name"></td>
								<td>
									<img ng-src="{{store.icon}}" alt="store icon" width="100"/>
								</td>					
								<td ng-bind="store.link"></td>
								<td ng-bind="store.phone"></td>	
								<td ng-bind="store.memo"></td>	
								<td ng-bind="store.floorId"></td>
								<td>
									<a data-toggle="modal" class="btn btn-default" href="#store-edit-dialog" 
										ng-click="selectStore(store)">
										<span class="glyphicon glyphicon-edit"></span>
									</a>					
								</td>						
								<td>
									<a data-toggle="modal" class="btn btn-default" ng-click="deleteDialogSetup(store)">
										<span class="glyphicon glyphicon-remove"></span>
									</a>					
								</td>																		
							</tr>
						</tbody>			
					</table>
							

					<!-- Delete dialog -->
					<% include ../layout/delete-confirm-dialog.html %>

				</div>

			</div>	

		</div>

	</div>	

	<!-- Edit and Delete Dialog -->
	<% include ../floor/floor-edit-dialog.html %>
	<% include ../store/store-edit-dialog.html %>	

	<!-- Body library include -->
	<% include ../../layout/body-include.html %>

    <!-- Controller -->
	<script src="/js/admin/controller/app.js"></script>        
    <script src="/js/admin/controller/floorContrl.js"></script>
    <script src="/js/admin/controller/storeContrl.js"></script>

  </body>

</html>