<div class="left-navbar">
	
	<div class="panel-group" id="accordion">

	  <!-- Building functions -->	
	  <div class="panel panel-info">
	    <div class="panel-heading">
	      <h4 class="panel-title" >
	        <a data-toggle="collapse" data-parent="#accordion" href="#leftNavBarBuildingContent">Building</a>
	      </h4>
	    </div>
	    <div id="leftNavBarBuildingContent" class="panel-collapse collapse in">
	      <div class="panel-body">
	      	<ul>
	      		<li class="selected-left-nav"><a href="/admin/building/index">Building List</a></li>
	      	</ul>
	      </div>
	    </div>
	  </div>

	   <!-- Resource functions -->	
	  <div class="panel panel-info">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#leftNavBarResourceContent">Resource</a>
	      </h4>
	    </div>
	    <div id="leftNavBarResourceContent" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<ul>
	      		<li class="selected-left-nav"><a href="/admin/resource/sdk/index">Upload SDK and Sample Code</a></li>
	      	</ul>		        
	      </div>
	    </div>
	  </div>

	   <!-- User functions -->	
	  <div class="panel panel-info">
	    <div class="panel-heading">
	      <h4 class="panel-title">	        
	        <a data-toggle="collapse" data-parent="#accordion" href="#leftNavBarUserContent">User</a>
	      </h4>
	    </div>
	    <div id="leftNavBarUserContent" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<ul>
	      		<li class="selected-left-nav"><a href="/admin/user/index">User List</a></li>
	      		<li class="selected-left-nav"><a href="/admin/user/searchIndex">Search</a></li>
	      	</ul>
	      </div>
	    </div>
	  </div>

	   <!-- Feedback functions -->	
	  <div class="panel panel-info">
	    <div class="panel-heading">
	      <h4 class="panel-title">	        
	        <a data-toggle="collapse" data-parent="#accordion" href="#leftNavBarFeedbackContent">Feedback</a>
	      </h4>
	    </div>
	    <div id="leftNavBarFeedbackContent" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<ul>
	      		<li class="selected-left-nav"><a href="/admin/feedback/index">Feedback List</a></li>
	      	</ul>
	      </div>
	    </div>
	  </div>	  

	   <!-- Statistics functions -->	
	  <div class="panel panel-info">
	    <div class="panel-heading">
	      <h4 class="panel-title">	        
	        <a data-toggle="collapse" data-parent="#accordion" href="#leftNavBarStatisticContent">Statistics</a>
	      </h4>
	    </div>
	    <div id="leftNavBarStatisticContent" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<ul>
	      		<li class="selected-left-nav"><a href="https://www.google.com/analytics/web" target="_blank">Google Analytics</a></li>
	      	</ul>
	      </div>
	    </div>	    
	  </div>	

	  <!-- Email functions -->	
	  <div class="panel panel-info">
	    <div class="panel-heading">
	      <h4 class="panel-title">	        
	        <a data-toggle="collapse" data-parent="#accordion" href="#leftNavBarNotificationContent">Notification</a>
	      </h4>
	    </div>
	    <div id="leftNavBarNotificationContent" class="panel-collapse collapse">
	      <div class="panel-body">
	      	<ul>
	      		<li class="selected-left-nav"><a href="/admin/notification/email">Email</a></li>
	      	</ul>
	      </div>
	    </div>	    
	  </div>	

	</div>

	<script type="text/javascript">
	
		var url = window.location.href;
		if( url.indexOf('building') != -1 ) {

			$("div.left-navbar div.panel-collapse").removeClass('in');
			$("#leftNavBarBuildingContent").addClass('in');

		} else if( url.indexOf('resource') != -1 ) {

			$("div.left-navbar div.panel-collapse").removeClass('in');
			$("#leftNavBarResourceContent").addClass('in');

		} else if( url.indexOf('user') != -1 ) {

			$("div.left-navbar div.panel-collapse").removeClass('in');
			$("#leftNavBarUserContent").addClass('in');

		} else if( url.indexOf('feedback') != -1 ) {

			$("div.left-navbar div.panel-collapse").removeClass('in');
			$("#leftNavBarFeedbackContent").addClass('in');

		} else if( url.indexOf('notification') != -1 ) {

			$("div.left-navbar div.panel-collapse").removeClass('in');
			$("#leftNavBarNotificationContent").addClass('in');

		}

	</script>

</div>