<!-- Ad Add Dialog include in ad/ad-list.html -->
 <div class="modal fade" id="ad-add-dialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
   <div class="modal-dialog">
     <div class="modal-content" ng-controller="StoreListCtrl">

     	<!-- Header -->
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h4 class="modal-title">Add New Ad</h4>
         <p>Please kindly finish following fields about your store.</p>
       </div>

		<!-- Body -->
		<div class="modal-body">
			<div class="form-group">
				<label for="name">Name</label>
				<input class="form-control" placeholder="Ad Name" name="name" value="" maxlength="30">
			</div>
			<div class="form-group">
				<label for="price">Price</label>
				<input class="form-control" placeholder="Ad Price" name="price" value=""  maxlength="7">
			</div>
			<div class="form-group">
				<label for="desc">Description</label>
				<input class="form-control" placeholder="Ad Description" name="desc" value=""  maxlength="250">
			</div>

			<!-- error msg -->
			<div class="alert alert-danger error-msg">
				<span class="label label-danger">Error</span>
				<span class="errorText"></span>
			</div>
		</div>

       <!-- Footer -->
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-primary" data-loading-text="Adding" ng-click="addAd($event)">Add</button>
		</div>


     </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->
