<!DOCTYPE html>
<html lang="en" ng-app="sails" ng-controller="FloorShowCtrl">
	<head>

	    <title ng-bind="floor.name"></title>

	    <!-- Bootstrap core CSS -->
	    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	    <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">

	    <!-- Custom styles for this template -->
	    <link href="/stylesheets/style.css" rel="stylesheet">

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="../js/html5shiv.js"></script>
	      <script src="../js/respond.min.js"></script>
	    <![endif]-->
	    <script src="/js/jquery-1.10.2.js"></script>

	</head>
	<body>

	    <!-- Fixed Top Navigation Bar -->
		<% include ../layout/top-navbar.html %>

		<div class="container">

			<!-- Navigator bar to display current store of floor of specific building -->
			<ol class="breadcrumb">
			  <li><a href="/floor/show/{{floor.buildingId}}">Building</a></li>
			  <li class="active" ng-bind="floor.name"></li>
			</ol>

			<div class="jumbotron">

				<!-- Display Block -->
				<div class="row display-block">

					<!-- Image icon and name -->
					<div class="col-xs-12 col-sm-3 col-md-2" style="text-align:center;padding:15px 5px;">
						<div>
							<span class="title">Name:</span>
							<span ng-bind="floor.name"></span>
						</div>
					</div>

					<!-- Link, Phone and Memo -->
					<div class="col-xs-12 col-sm-8 col-md-9">
						<span class="title">Description</span>
						<p ng-bind="floor.desc" style="padding:10px;"></p>
					</div>

					<!-- Edit trigger button -->
					<span class="glyphicon glyphicon-edit edit-button"></span>

				</div>
				<hr/>

				<!-- Edit Block -->
				<div class="row edit-block">

					<!-- Cancel edit button -->
					<button type="button" class="close close-button" ng-click="cancelUpdateAd()">x</button>

					<!-- Form -->
					<div class="edit-block">

						<!-- text fields -->
						<div class="form-group">
							<label for="name">Name</label>
							<input class="form-control" placeholder="Floor Name" name="name" ng-model="store.name">
						</div>
						<div class="form-group">
							<label for="desc">Description</label>
							<input class="form-control" placeholder="Floor Description" name="memo" ng-model="store.desc">
						</div>
						<!-- error msg -->
						<div class="alert alert-danger error-msg">
							  	<span class="label label-danger">Error</span>
							  	<span class="errorText"></span>
						</div>
						<button class="btn btn-md btn-primary" href="#" data-loading-text="Updating"
							ng-click="updateFloor($event)">Update</button>

					</div>
					<hr/>

					<!-- Icons upload area -->
					<div class="edit-block">
						<form name="form" action="/floor/uploadImage" method="POST" enctype="multipart/form-data">
							<input type="hidden" class="form-control" name="_id" value="{{ad._id}}">
							<label for="path">Upload "path.xml" here</label>
							<input type="file" class="form-control upload-file" placeholder="upload path.xml" name="path">
							<label for="map">Upload "path.xml" here</label>
							<input type="file" class="form-control upload-file" placeholder="upload map.xml" name="map">							
							<div class="alert alert-danger error-msg">
								<span class="label label-danger">Error</span> <span class="errorText"></span>
							</div>
						</form>
						<button class="btn btn-md btn-primary" style="display:none;" ng-click="uploadFloorImage($event)"
							data-loading-text="Uploading...">Upload</button>
					</div>

				</div>

			</div>

		</div>

		<!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="/js/bootstrap.min.js"></script>
	    <script src="/js/building/index.js"></script>
	    <script src="/js/jquery.form.min.js"></script>
	    <script src="/js/utility.js"></script>
	    <script src="/js/bootstrap-datepicker.js"></script>


	    <!-- AngularJS relative -->
	    <script src="/js/angular.min.js"></script>
		<script src="/js/app.js"></script>
	    <script src="/js/controller/buildingContrl.js"></script>
	    <script src="/js/controller/floorContrl.js"></script>
	    <script src="/js/controller/storeContrl.js"></script>
	    <script src="/js/controller/adContrl.js"></script>
		<script src="/js/angular-resource.js"></script>

		<!-- Pre Register Handler -->
		<script src="/js/pre-register-handler.js"></script>

	</body>

</html>