<!-- Bootstrap JavaScript -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/bootstrap/bootstrap-datepicker.js"></script>

<!-- JQuery Form Plug In -->
<script src="/js/jquery/jquery.form.min.js"></script>

<!-- JQuery Notification Plug In -->
<script src="/js/jquery/jquery.toastmessage.js"></script>

<!-- Utility Library -->
<script src="/js/utility.js"></script>

<!-- AngularJS relative -->
<script src="/js/controller/app.js"></script>
<script src="/js/angular/angular-resource.js"></script>

<!-- Pre Register Handler -->
<script src="/js/pre-register-handler.js"></script>

<!-- JQuery Pagination -->
<link href="/stylesheets/jquery.paginate.css" rel="stylesheet">
<script src="/js/jquery/jquery.paginate.js"></script>

<!-- Necessary params -->
<script>
	var imagePath = "<%= imagePath %>";
</script>