<!-- Necessary params -->
<script>
	var imagePath = "<%= imagePath %>";
</script>

<!-- Bootstrap JavaScript -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/bootstrap/bootstrap-datepicker.js"></script>

<!-- JQuery Form Plug In -->
<script src="/js/jquery/jquery.form.min.js"></script>

<!-- AngularJS relative -->
<script src="/js/controller/app.js"></script>
<script src="/js/angular/angular-resource.min.js"></script>
<script src="/js/angular/angular-sanitize.min.js"></script>


<!-- JQuery Pagination -->
<link href="/stylesheets/jquery.paginate.css" rel="stylesheet">
<script src="/js/jquery/jquery.paginate.js"></script>
