<!-- Meta tag -->
<meta name="description" content="Sails cloud service is a indoor localization web service.">
<meta name="keywords" content="Sails,Navigator,Indoor,Localization">
<meta name="author" content="Sails Team">
<meta charset="UTF-8">	
<link rel="shortcut icon" href="img/favicon.png">

<!-- Bootstrap CSS -->
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
<link href="/stylesheets/datepicker.css" rel="stylesheet">


<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="../js/bootstrap/html5shiv.js"></script>
  <script src="../js/bootstrap/respond.min.js"></script>
<![endif]-->

<!-- Custom styles for this template -->
<link href="/stylesheets/style.css" rel="stylesheet">
<link href="/stylesheets/response.css" rel="stylesheet">
<link href="/stylesheets/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">

<!-- Utility Library -->
<script src="/js/utility.js"></script>

<!-- JQuery Library -->
<script src="/js/jquery/jquery-1.10.2.js"></script>
<script src="/js/jquery/jquery-ui-1.10.4.custom.js"></script>


<!-- AngularJS core -->
<script src="/js/angular/angular.min.js"></script>

<!-- Pre Register Handler -->
<script src="/js/pre-register-handler.js"></script>

<!-- JQuery Notification Plug In -->
<script src="/js/jquery/jquery.toastmessage.js"></script>
<link href="/stylesheets/jquery.toastmessage.css" rel="stylesheet">