<!-- Fixed Top Navigation Bar -->
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container" style="max-width:100%;">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<img src="/img/sails.png" width="170" alt="Sails Logo" />
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/"><%= __('header.home') %></a></li>
				<li><a href="http://support.sailstech.com" target="_blank"><%= __('header.support') %></a></li>						
				<li><a href="http://support.sailstech.com/kb" target="_blank"><%= __('header.knowledgeBase') %></a></li>
				<li><a href="http://blog1.sailstech.com" target="_blank"><%= __('header.blog') %></a></li>
				<li><a href="./terms" target="_blank"><%= __('header.terms') %></a></li>
				
				<!-- Use support.cloudtech.com feedback -->
				<!-- <li><a href="/feedback/index" target="_blank">Feedback</a></li> -->

				<% if(user){ %>	
					<li><a href="/sails-resource/download" target="_blank"><%= __('header.downloadSDK') %></a></li>
				<% } %>

				<% if(user && user.role == roles.ADMIN ){ %>	
					<li><a href="/admin/building/index" target="_blank"><%= __('header.cms') %></a></li>
				<% } %>

				<!-- Search bar -->
				<!--
				<li>
					<div id="searchBar" class="input-group">
					  <span class="input-group-addon">
						  <span class="glyphicon glyphicon-search"></span>
					  </span>
					  <input type="text" class="form-control" placeholder="Seach something">
					</div>
				</li>
				-->

				<!-- Locale selection bar -->
				<li>
					<select id="locale-selector" class="form-control" >
						<option value="en">English</option>
						<option value="zh_tw">中文繁體</option>
						<option value="zh_cn">中文簡體</option>
					</select>
					<script>
						$(document).ready(function(){
							var localSelector = $("#locale-selector"),
								locale = '<%= locale %>';
							if(locale)
								localSelector.find("option[value=" + locale + "]").attr("selected", true);
							else
								localSelector.find("option[value='en").attr("selected", true);

							localSelector.change(function(){
								var value = $(this).find("option:selected").val(),
								 	returnUrl = location.pathname,
									nurl = "/setLocale?locale=" + value + "&returnUrl=" + returnUrl;
								location.href = nurl; 
							});
						});
					</script>
				</li>

			</ul>
			<ul class="nav navbar-nav navbar-right">

				<!-- User profile -->														
				<% if(user){ %>
					<li>							
						<div class="btn-group" style="margin: 12px 10px; cursor:pointer;">
						  <div class="dropdown-toggle" data-toggle="dropdown">
						  	<span class="glyphicon glyphicon-user">
						  		<h5 style="display:inline;"><%= user.username%></h5>
						  	</span>
						  	<span class="caret"></span>								  
						  </div>	
						  <ul class="dropdown-menu" role="menu">
						    <li><a href="/user/profile"><%= __('header.profile') %></a></li>

						    <% if(user.role == roles.ADMIN || user.role == roles.DEVELOPER){ %>
						    	<li><a href="/developer/app"><%= __('header.developer') %></a></li>
						    <% } %>

						    <li class="divider"></li>
						    <li><a href="/logout"><%= __('header.logout') %></a></li>
						  </ul>
						</div>
					</li>								
				<% } %>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</div>