<!DOCTYPE html>
<html lang="en" ng-app="sails-admin" ng-controller='BuildingShowCtrl'>
  <head>
  
	<!-- Head meta, css or library include -->
	<% include ../../layout/head-include.html %>
		

	<!-- admin page css -->	
	<link href="/stylesheets/style-admin.css" rel="stylesheet">

	<!-- Title -->
    <title>Building - {{building._id}}</title>

  </head>

  <body>

    <!-- Fixed Top Navigation Bar Template -->
	<% include ../../layout/top-navbar.html %>



	<!-- Main Container -->
    <div class="container">

		<div class="jumbotron">

			<!-- left navigation bar -->
			<% include ../layout/left-navbar.html %>
			
			<div style="padding-left:230px;">

				<!-- Building info -->
				<div class="panel panel-default">	
					<div class="panel-heading">Building - {{building._id}}</div>
					<table class="table">
						<thead>
							<th>name</th>
							<th>type(not use)</th>				
							<th>pub</th>
							<th>upfloor</th>
							<th>downfloor</th>
							<th>icon</th>
							<th>desc</th>
							<th>mapzip</th>
							<th>mapzipUpdateTime</th>
							<th>userId</th>
							<th>address</th>
							<th>createdTime</th>
							<th></th>																	
							<th></th>					
						</thead>
						<tbody>
							<tr id="{{selectedBuilding._id}}">				
								<td ng-bind="selectedBuilding.name"></td>
								<td ng-bind="selectedBuilding.type"></td>					
								<td ng-bind="selectedBuilding.pub"></td>
								<td ng-bind="selectedBuilding.upfloor"></td>
								<td ng-bind="selectedBuilding.downfloor"></td>
								<td>
									<img ng-src="{{selectedBuilding.icon}}" alt="building icon" width=100 />
								</td>
								<td ng-bind="selectedBuilding.desc"></td>
								<td ng-bind="selectedBuilding.mapzip">
									<a href="/admin/building/getMapzip?mapzip={{floor.map}}" target="_blank" ng-show="floor.map">
										<span class="glyphicon glyphicon-download" ng-bind="floor.map" ng-show="floor.map"></span>
									</a>
								</td>
								<td ng-bind="selectedBuilding.mapzipUpdateTime"></td>
								<td ng-bind="selectedBuilding.userId"></td>
								<td ng-bind="selectedBuilding.address"></td>
								<td ng-bind="selectedBuilding.createdTime"></td>
								<td>
									<button class="btn btn-primary" data-loading-text="Packaging..."　
									ng-click="packageMapzip($event, building)">Package mapzip </button>
								</td>								
								<td>
									<a data-toggle="modal" class="btn btn-default" href="#building-edit-dialog">
										<span class="glyphicon glyphicon-edit"></span>
									</a>					
								</td>									
							</tr>
						</tbody>			
					</table>		
				</div>


				<!-- Add floor, add basement and add store buttons -->
				<div ng-controller='FloorListCtrl'>
					<div>
						<button class="btn btn-md btn-default" ng-click="addFloor($event)" data-loading-text="Adding..." ng-hide="loadingFloor" style="display:none;">
							<span class="glyphicon glyphicon-plus" ></span> Add Floor
						</button>

						<button class="btn btn-md btn-default" ng-click="addBasement($event)" data-loading-text="Adding..." ng-hide="loadingFloor" style="display:none;">
							<span class="glyphicon glyphicon-plus" ></span> Add Basement
						</button>
					</div>

					<!-- Floor List of building -->
					<div class="panel panel-default">	
						<div class="panel-heading">Up Floors</div>
						<table class="table">
							<thead>
								<th>_id</th>
								<th>name</th>
								<th>desc</th>				
								<th>layer</th>
								<th>map</th>
								<th>path</th>
								<th>render</th>
								<th>region</th>
								<th>mapzip</th>
								<th>applist</th>
								<th>lastXmlUpdateTime</th>																			
							</thead>
							<tbody>
								<tr ng-repeat="floor in floorUp" id="{{floor._id}}">				
									<td>
										<a href="/admin/floor/show/{{floor._id}}" ng-bind="floor._id"></a>
									</td>
									<td ng-bind="floor.name"></td>
									<td ng-bind="floor.desc"></td>					
									<td ng-bind="floor.layer"></td>
									<td>
										<a href="/admin/floor/getMap?map={{floor.map}}" target="_blank" ng-show="floor.map">
											<span class="glyphicon glyphicon-download" ng-bind="floor.map" ng-show="floor.map"></span>
										</a>
									</td>
									<td>
										<a href="/admin/floor/getPath?path={{floor.path}}" target="_blank" ng-show="floor.path">
											<span class="glyphicon glyphicon-download" ng-bind="floor.path"></span>
										</a>
									</td>
									<td>
										<a href="/admin/floor/getRender?render={{floor.render}}" target="_blank" ng-show="floor.render">
											<span class="glyphicon glyphicon-download" ng-bind="floor.render"></span>
										</a>
									</td>
									<td>
										<a href="/admin/floor/getRegion?region={{floor.region}}" target="_blank" ng-show="floor.region">
											<span class="glyphicon glyphicon-download" ng-bind="floor.region"></span>
										</a>
									</td>
									<td>
										<a href="/admin/floor/getMapzip?mapzip={{floor.mapzip}}" target="_blank" ng-show="floor.mapzip">
											<span class="glyphicon glyphicon-download" ng-bind="floor.mapzip"></span>
										</a>
									</td>
									<td>
										<a href="/admin/floor/getAplist?aplist={{floor.applist}}" target="_blank" ng-show="floor.applist">
											<span class="glyphicon glyphicon-download" ng-bind="floor.applist"></span>
										</a>
									</td>
									<td ng-bind="floor.lastXmlUpdateTime"></td>
									<td>
										<a data-toggle="modal" class="btn btn-default" href="#floor-edit-dialog" 
											ng-click="selectFloor(floor)">
											<span class="glyphicon glyphicon-edit"></span>
										</a>					
									</td>						
									<td>
										<a data-toggle="modal" class="btn btn-default" ng-click="deleteDialogSetup(floor)">
											<span class="glyphicon glyphicon-remove"></span>
										</a>					
									</td>										
								</tr>
							</tbody>			
						</table>
								
					</div>

					<!-- Floor List of building -->
					<div class="panel panel-default">	
						<div class="panel-heading">Down Floors</div>
						<table class="table">
							<thead>
								<th>_id</th>
								<th>name</th>
								<th>desc</th>				
								<th>layer</th>
								<th>map</th>
								<th>path</th>
								<th>render</th>
								<th>region</th>
								<th>mapzip</th>
								<th>applist</th>
								<th>lastXmlUpdateTime</th>																			
							</thead>
							<tbody>
								<tr ng-repeat="floor in floorDown" id="{{floor._id}}">				
									<td>
										<a href="/admin/floor/show/{{floor._id}}" ng-bind="floor._id"></a>
									</td>
									<td ng-bind="floor.name"></td>
									<td ng-bind="floor.desc"></td>					
									<td ng-bind="floor.layer"></td>
									<td>
										<a href="/admin/floor/getMap?map={{floor.map}}" target="_blank" ng-show="floor.map">
											<span class="glyphicon glyphicon-download" ng-bind="floor.map" ng-show="floor.map"></span>
										</a>
									</td>
									<td>
										<a href="/admin/floor/getPath?path={{floor.path}}" target="_blank" ng-show="floor.path">
											<span class="glyphicon glyphicon-download" ng-bind="floor.path"></span>
										</a>
									</td>
									<td>
										<a href="/admin/floor/getRender?render={{floor.render}}" target="_blank" ng-show="floor.render">
											<span class="glyphicon glyphicon-download" ng-bind="floor.render"></span>
										</a>
									</td>
									<td>
										<a href="/admin/floor/getRegion?region={{floor.region}}" target="_blank" ng-show="floor.region">
											<span class="glyphicon glyphicon-download" ng-bind="floor.region"></span>
										</a>
									</td>
									<td>
										<a href="/admin/floor/getMapzip?mapzip={{floor.mapzip}}" target="_blank" ng-show="floor.mapzip">
											<span class="glyphicon glyphicon-download" ng-bind="floor.mapzip"></span>
										</a>
									</td>
									<td>
										<a href="/admin/floor/getAplist?aplist={{floor.applist}}" target="_blank" ng-show="floor.applist">
											<span class="glyphicon glyphicon-download" ng-bind="floor.applist"></span>
										</a>
									</td>
									<td ng-bind="floor.lastXmlUpdateTime"></td>
									<td>
										<a data-toggle="modal" class="btn btn-default" href="#floor-edit-dialog" 
											ng-click="selectFloor(floor)">
											<span class="glyphicon glyphicon-edit"></span>
										</a>					
									</td>						
									<td>
										<a data-toggle="modal" class="btn btn-default" ng-click="deleteDialogSetup(floor)">
											<span class="glyphicon glyphicon-remove"></span>
										</a>					
									</td>
								</tr>
							</tbody>			
						</table>
							
					</div>

					<!-- Delete dialog -->
					<% include ../layout/delete-confirm-dialog.html %>	

				</div>				

			</div>	

		</div>

	</div>	


	<!-- Edit and Delete Dialog -->
	<% include building-edit-dialog.html %>	
	<% include ../floor/floor-edit-dialog.html %>

	<!-- Body library include -->
	<% include ../layout/body-include.html %>

    <!-- Controller -->
	<script src="/js/admin/controller/app.js"></script>        
    <script src="/js/admin/controller/buildingContrl.js"></script>
    <script src="/js/admin/controller/floorContrl.js"></script>

  </body>

</html>