<!DOCTYPE html>
<html lang="en">
  <head>
  
	<!-- Head meta, css or library include -->
	<% include ../layout/head-include.html %>

	<!-- Title -->
    <title>Sails</title>
	    	    
    <style>
		body {
		  /* min-height: 2000px; */
		  padding-top: 70px;
		}
    </style>

  </head>

  <body>
			
    <!-- Fixed Top Navigation Bar -->
	<% include ../layout/top-navbar.html %>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Download Sails SDK</h1>
        <p>Here are SDKs on different plaform, click following link for download.</p>
        <a href="/sails-resource/download/android">
          <img alt="IOS SDK" src="/img/download-android.jpg" width="240"/>
        </a>
        <a href="/sails-resource/download/ios">
          <img alt="IOS SDK" src="/img/download-ios.jpg" width="240"/>
        </a>       
      </div>

    </div> <!-- /container -->
	
	<!-- Body library include -->
	<% include ../layout/body-include.html	%>
				
  </body>
</html>
