<!DOCTYPE html>
<html lang="en">
  <head>
  
	<!-- Head meta, css or library include -->
	<% include ../layout/head-include.html %>

	<!-- Title -->
    <title>Sails</title>
	    	    
    <style>
		body {
		  /* min-height: 2000px; */
		  padding-top: 70px;
		}
    </style>

  </head>

  <body>
			
    <!-- Fixed Top Navigation Bar -->
	<% include ../layout/top-navbar.html %>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Download Sails SDK</h1>
        <p>Here are SDKs on different plaform, click following link for download.</p>
        
        <!-- Android download -->
        <div>
          <img alt="IOS SDK" src="/img/download-android.jpg" width="240"/>          
          <a href="/sails-resource/download/sdk/android/<%= android.sdkFilePath %>">
            <span class="glyphicon glyphicon-download">Android SDK</span>
          </a>
          <a href="/sails-resource/download/sample-code/android/<%= android.sampleCodeFilePath %>">
            <span class="glyphicon glyphicon-download">Sample Code</span>
          </a>
          <a href="/sails-resource/download/doc/android/index.html" target='_blank'>
            <span class="glyphicon glyphicon-download">Java Doc</span>                  
          </a>
        </div>

        </br>

        <!-- ios download -->
        <div>
          <img alt="IOS SDK" src="/img/download-ios.jpg" width="240"/>
          <div class="alert alert-info" style="display: inline;">will be available on Jan. 2014</div>
          <!--
          <img alt="IOS SDK" src="/img/download-ios.jpg" width="240"/>
          <a href="/sails-resource/download/sdk/ios/<%= ios.sdkFilePath %>">
            <span class="glyphicon glyphicon-download">IOS SDK</span>
          </a>
          <a href="/sails-resource/download/sample-code/ios/<%= ios.sampleCodeFilePath %>">
            <span class="glyphicon glyphicon-download">Sample Code</span>
          </a>
          <a href="/sails-resource/download/doc/ios/index.html" target='_blank'>
            <span class="glyphicon glyphicon-download">Doc</span>                  
          </a>
          -->		  
        </div>

      </div>

    </div> <!-- /container -->
	
	<!-- Body library include -->
	<% include ../layout/body-include.html	%>
				
  </body>
</html>
